/* Bodega Icon Font */

@font-face {
  font-display: swap;
  font-family: 'BodegaIcons';
  font-style: normal;
  src: url('./Bodega.woff2') format('woff2');
}

.bdg {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 BodegaIcons;
  font-size: inherit;
}

/* 457 icon glyphs */
.bdg.bdg-3DigitCode:before{content:"\f102"}
.bdg.bdg-3DView:before{content:"\f101"}
.bdg.bdg-3hrsOrLess:before{content:"\f103"}
.bdg.bdg-3hrsOrLessFill:before{content:"\f104"}
.bdg.bdg-4DigitCode:before{content:"\f105"}
.bdg.bdg-Accessibility:before{content:"\f106"}
.bdg.bdg-AddCalendar:before{content:"\f107"}
.bdg.bdg-AddFolder:before{content:"\f108"}
.bdg.bdg-AddFolders:before{content:"\f109"}
.bdg.bdg-AdditionalResources:before{content:"\f10c"}
.bdg.bdg-AddToCart:before{content:"\f10a"}
.bdg.bdg-AddToList:before{content:"\f10b"}
.bdg.bdg-AerialDrone:before{content:"\f10d"}
.bdg.bdg-AgeVerify:before{content:"\f10e"}
.bdg.bdg-Alcohol:before{content:"\f10f"}
.bdg.bdg-AntiReflective:before{content:"\f110"}
.bdg.bdg-AntiReflectiveBlue:before{content:"\f111"}
.bdg.bdg-Apartment:before{content:"\f112"}
.bdg.bdg-Archive:before{content:"\f115"}
.bdg.bdg-ArFashion:before{content:"\f113"}
.bdg.bdg-ArHome:before{content:"\f114"}
.bdg.bdg-ArrowCircleLeft:before{content:"\f116"}
.bdg.bdg-ArrowCircleRight:before{content:"\f117"}
.bdg.bdg-ArrowDown:before{content:"\f118"}
.bdg.bdg-ArrowLeft:before{content:"\f119"}
.bdg.bdg-ArrowRight:before{content:"\f11a"}
.bdg.bdg-ArrowSelect:before{content:"\f11b"}
.bdg.bdg-ArrowUp:before{content:"\f11c"}
.bdg.bdg-ArrowUpDown:before{content:"\f11d"}
.bdg.bdg-ArrowUpLeft:before{content:"\f11e"}
.bdg.bdg-Article:before{content:"\f11f"}
.bdg.bdg-Associate:before{content:"\f120"}
.bdg.bdg-Attribution:before{content:"\f121"}
.bdg.bdg-AttributionFill:before{content:"\f122"}
.bdg.bdg-AudioSpeaker:before{content:"\f123"}
.bdg.bdg-Auto:before{content:"\f124"}
.bdg.bdg-AutoCare:before{content:"\f125"}
.bdg.bdg-AutoCareSavings:before{content:"\f126"}
.bdg.bdg-Autofill:before{content:"\f127"}
.bdg.bdg-Availability:before{content:"\f128"}
.bdg.bdg-BabyRegistry:before{content:"\f129"}
.bdg.bdg-BacksideAr:before{content:"\f12a"}
.bdg.bdg-Bakery:before{content:"\f12b"}
.bdg.bdg-Ban:before{content:"\f12c"}
.bdg.bdg-Barcode:before{content:"\f12e"}
.bdg.bdg-BarGraph:before{content:"\f12d"}
.bdg.bdg-BeautyAr:before{content:"\f12f"}
.bdg.bdg-BeautyArFill:before{content:"\f130"}
.bdg.bdg-Bell:before{content:"\f131"}
.bdg.bdg-BenefitCard:before{content:"\f132"}
.bdg.bdg-BifocalVision:before{content:"\f133"}
.bdg.bdg-Bill:before{content:"\f134"}
.bdg.bdg-Bin:before{content:"\f135"}
.bdg.bdg-BirthControl:before{content:"\f136"}
.bdg.bdg-BlueGlasses:before{content:"\f137"}
.bdg.bdg-Bluetooth:before{content:"\f138"}
.bdg.bdg-Bookmark:before{content:"\f139"}
.bdg.bdg-BookmarkFill:before{content:"\f13a"}
.bdg.bdg-Box:before{content:"\f13b"}
.bdg.bdg-Brand:before{content:"\f13c"}
.bdg.bdg-Burger:before{content:"\f13d"}
.bdg.bdg-BusinessInfo:before{content:"\f13e"}
.bdg.bdg-Cafeteria:before{content:"\f13f"}
.bdg.bdg-Calendar:before{content:"\f140"}
.bdg.bdg-Call:before{content:"\f141"}
.bdg.bdg-Camera:before{content:"\f142"}
.bdg.bdg-Car:before{content:"\f143"}
.bdg.bdg-Card:before{content:"\f144"}
.bdg.bdg-CaretDown:before{content:"\f145"}
.bdg.bdg-CaretUp:before{content:"\f146"}
.bdg.bdg-Cart:before{content:"\f147"}
.bdg.bdg-CartFill:before{content:"\f148"}
.bdg.bdg-Cash:before{content:"\f149"}
.bdg.bdg-CashBack:before{content:"\f14a"}
.bdg.bdg-CashLogo:before{content:"\f14b"}
.bdg.bdg-CelebrateFill:before{content:"\f14c"}
.bdg.bdg-Charge:before{content:"\f14d"}
.bdg.bdg-ChargeSlash:before{content:"\f14e"}
.bdg.bdg-ChargingHandle:before{content:"\f14f"}
.bdg.bdg-ChargingVehicle:before{content:"\f150"}
.bdg.bdg-Chat:before{content:"\f151"}
.bdg.bdg-Check:before{content:"\f152"}
.bdg.bdg-CheckCircle:before{content:"\f153"}
.bdg.bdg-CheckCircleFill:before{content:"\f154"}
.bdg.bdg-ChevronDown:before{content:"\f155"}
.bdg.bdg-ChevronLeft:before{content:"\f156"}
.bdg.bdg-ChevronRight:before{content:"\f157"}
.bdg.bdg-ChevronUp:before{content:"\f158"}
.bdg.bdg-ChooseModel:before{content:"\f159"}
.bdg.bdg-ClearGlasses:before{content:"\f15a"}
.bdg.bdg-Clinics:before{content:"\f15b"}
.bdg.bdg-Clock:before{content:"\f15c"}
.bdg.bdg-ClockOut:before{content:"\f15d"}
.bdg.bdg-Close:before{content:"\f15e"}
.bdg.bdg-CloseCircleFill:before{content:"\f15f"}
.bdg.bdg-ClosedCaptioningOff:before{content:"\f162"}
.bdg.bdg-ClosedCaptioningOn:before{content:"\f163"}
.bdg.bdg-ClosedCaptionOff:before{content:"\f160"}
.bdg.bdg-ClosedCaptionOn:before{content:"\f161"}
.bdg.bdg-CloudDownload:before{content:"\f164"}
.bdg.bdg-CloudUpload:before{content:"\f165"}
.bdg.bdg-Code:before{content:"\f166"}
.bdg.bdg-Collectibles:before{content:"\f167"}
.bdg.bdg-Colon:before{content:"\f168"}
.bdg.bdg-CommunityGiving:before{content:"\f169"}
.bdg.bdg-Compare:before{content:"\f16a"}
.bdg.bdg-Contacts:before{content:"\f16b"}
.bdg.bdg-ControlFill:before{content:"\f16c"}
.bdg.bdg-Copy:before{content:"\f16d"}
.bdg.bdg-Cordoba:before{content:"\f16e"}
.bdg.bdg-Crop:before{content:"\f16f"}
.bdg.bdg-Currency:before{content:"\f170"}
.bdg.bdg-CurrentLocation:before{content:"\f171"}
.bdg.bdg-CustomCakes:before{content:"\f172"}
.bdg.bdg-Deli:before{content:"\f173"}
.bdg.bdg-Diamond:before{content:"\f174"}
.bdg.bdg-Dimensions:before{content:"\f175"}
.bdg.bdg-DimensionsFill:before{content:"\f176"}
.bdg.bdg-DimensionsSpin:before{content:"\f177"}
.bdg.bdg-Direction:before{content:"\f178"}
.bdg.bdg-DirectionFill:before{content:"\f179"}
.bdg.bdg-Discover:before{content:"\f17a"}
.bdg.bdg-DiscoverFill:before{content:"\f17b"}
.bdg.bdg-Dollar:before{content:"\f17c"}
.bdg.bdg-DollarCircle:before{content:"\f17d"}
.bdg.bdg-DollarCircleFill:before{content:"\f17e"}
.bdg.bdg-Download:before{content:"\f17f"}
.bdg.bdg-Drag:before{content:"\f180"}
.bdg.bdg-DueToRefill:before{content:"\f181"}
.bdg.bdg-Ebooks:before{content:"\f182"}
.bdg.bdg-Eco:before{content:"\f183"}
.bdg.bdg-EcoFill:before{content:"\f184"}
.bdg.bdg-Elevator:before{content:"\f185"}
.bdg.bdg-Email:before{content:"\f186"}
.bdg.bdg-EntranceNew:before{content:"\f187"}
.bdg.bdg-EvCcs2:before{content:"\f188"}
.bdg.bdg-EvChademo:before{content:"\f189"}
.bdg.bdg-EvChargingStation:before{content:"\f18a"}
.bdg.bdg-EvTesla:before{content:"\f18b"}
.bdg.bdg-ExclamationCircle:before{content:"\f18c"}
.bdg.bdg-ExclamationCircleFill:before{content:"\f18d"}
.bdg.bdg-Exit:before{content:"\f18e"}
.bdg.bdg-Expand:before{content:"\f18f"}
.bdg.bdg-Eye:before{content:"\f190"}
.bdg.bdg-EyeRx:before{content:"\f191"}
.bdg.bdg-EyeSlash:before{content:"\f192"}
.bdg.bdg-Facebook:before{content:"\f193"}
.bdg.bdg-Facility:before{content:"\f194"}
.bdg.bdg-FacilityFill:before{content:"\f195"}
.bdg.bdg-FamilyProfiles:before{content:"\f196"}
.bdg.bdg-Feedback:before{content:"\f197"}
.bdg.bdg-Filter:before{content:"\f198"}
.bdg.bdg-FireExtinguisher:before{content:"\f199"}
.bdg.bdg-FittingRoom:before{content:"\f19a"}
.bdg.bdg-FixedShifts:before{content:"\f19b"}
.bdg.bdg-Flag:before{content:"\f19c"}
.bdg.bdg-FlagFill:before{content:"\f19d"}
.bdg.bdg-Flash:before{content:"\f19e"}
.bdg.bdg-FlashFill:before{content:"\f19f"}
.bdg.bdg-FlashSlash:before{content:"\f1a0"}
.bdg.bdg-FloppyDisk:before{content:"\f1a1"}
.bdg.bdg-Folder:before{content:"\f1a2"}
.bdg.bdg-Folders:before{content:"\f1a3"}
.bdg.bdg-FollowUp:before{content:"\f1a4"}
.bdg.bdg-Football:before{content:"\f1a5"}
.bdg.bdg-Footsteps:before{content:"\f1a6"}
.bdg.bdg-FootstepsFill:before{content:"\f1a7"}
.bdg.bdg-FreeDelivery:before{content:"\f1a8"}
.bdg.bdg-Fridge:before{content:"\f1a9"}
.bdg.bdg-FuelPump:before{content:"\f1aa"}
.bdg.bdg-Fullscreen:before{content:"\f1ab"}
.bdg.bdg-FullscreenExit:before{content:"\f1ac"}
.bdg.bdg-GardenCenter:before{content:"\f1ad"}
.bdg.bdg-Gear:before{content:"\f1ae"}
.bdg.bdg-Gift:before{content:"\f1af"}
.bdg.bdg-GiftCardSpark:before{content:"\f1b0"}
.bdg.bdg-GiftFill:before{content:"\f1b1"}
.bdg.bdg-GiftShop:before{content:"\f1b2"}
.bdg.bdg-GiveFeedback:before{content:"\f1b3"}
.bdg.bdg-Glasses:before{content:"\f1b6"}
.bdg.bdg-GlassShop:before{content:"\f1b4"}
.bdg.bdg-GlassShopFill:before{content:"\f1b5"}
.bdg.bdg-Globe:before{content:"\f1b7"}
.bdg.bdg-Go:before{content:"\f1b8"}
.bdg.bdg-Grid:before{content:"\f1b9"}
.bdg.bdg-GridFill:before{content:"\f1ba"}
.bdg.bdg-GridMasonry:before{content:"\f1bb"}
.bdg.bdg-Grocery:before{content:"\f1bc"}
.bdg.bdg-HeadphoneAudio:before{content:"\f1bd"}
.bdg.bdg-Heart:before{content:"\f1be"}
.bdg.bdg-HeartFill:before{content:"\f1bf"}
.bdg.bdg-Hide:before{content:"\f1c1"}
.bdg.bdg-HiIndexMaterial:before{content:"\f1c0"}
.bdg.bdg-History:before{content:"\f1c2"}
.bdg.bdg-Home:before{content:"\f1c3"}
.bdg.bdg-HomeOffice:before{content:"\f1c4"}
.bdg.bdg-HouseMoney:before{content:"\f1c5"}
.bdg.bdg-Housewares:before{content:"\f1c6"}
.bdg.bdg-IdCard:before{content:"\f1c7"}
.bdg.bdg-Image:before{content:"\f1c8"}
.bdg.bdg-Incognito:before{content:"\f1ca"}
.bdg.bdg-Info:before{content:"\f1cb"}
.bdg.bdg-InfoCircle:before{content:"\f1cc"}
.bdg.bdg-InfoCircleFill:before{content:"\f1cd"}
.bdg.bdg-InHome:before{content:"\f1c9"}
.bdg.bdg-Instagram:before{content:"\f1ce"}
.bdg.bdg-InsuranceCards:before{content:"\f1cf"}
.bdg.bdg-InteractiveVideo:before{content:"\f1d0"}
.bdg.bdg-Key:before{content:"\f1d1"}
.bdg.bdg-Keyboard:before{content:"\f1d2"}
.bdg.bdg-Kiosk:before{content:"\f1d3"}
.bdg.bdg-Lempira:before{content:"\f1d4"}
.bdg.bdg-LightBulb:before{content:"\f1d5"}
.bdg.bdg-LimitedTimeOffers:before{content:"\f1d6"}
.bdg.bdg-LineGraph:before{content:"\f1d7"}
.bdg.bdg-LineGraphFill:before{content:"\f1d8"}
.bdg.bdg-Link:before{content:"\f1d9"}
.bdg.bdg-LinkExternal:before{content:"\f1da"}
.bdg.bdg-List:before{content:"\f1db"}
.bdg.bdg-Lists:before{content:"\f1dc"}
.bdg.bdg-Location:before{content:"\f1dd"}
.bdg.bdg-LocationFill:before{content:"\f1de"}
.bdg.bdg-Lock:before{content:"\f1df"}
.bdg.bdg-LockOpen:before{content:"\f1e0"}
.bdg.bdg-Loop:before{content:"\f1e1"}
.bdg.bdg-Magic:before{content:"\f1e2"}
.bdg.bdg-MagicFill:before{content:"\f1e3"}
.bdg.bdg-MakeupFill:before{content:"\f1e4"}
.bdg.bdg-Map:before{content:"\f1e5"}
.bdg.bdg-MapFill:before{content:"\f1e6"}
.bdg.bdg-MarketingMix:before{content:"\f1e7"}
.bdg.bdg-MarketingMixFill:before{content:"\f1e8"}
.bdg.bdg-Maximize:before{content:"\f1e9"}
.bdg.bdg-Measurement:before{content:"\f1ea"}
.bdg.bdg-MeasurementConsole:before{content:"\f1eb"}
.bdg.bdg-MeasurementConsoleFill:before{content:"\f1ec"}
.bdg.bdg-Medal:before{content:"\f1ed"}
.bdg.bdg-Medical:before{content:"\f1ee"}
.bdg.bdg-Medication:before{content:"\f1ef"}
.bdg.bdg-MegaphoneFill:before{content:"\f1f0"}
.bdg.bdg-Menu:before{content:"\f1f1"}
.bdg.bdg-Microphone:before{content:"\f1f2"}
.bdg.bdg-MicrophoneSlash:before{content:"\f1f3"}
.bdg.bdg-Minimize:before{content:"\f1f4"}
.bdg.bdg-Minus:before{content:"\f1f5"}
.bdg.bdg-Mobile:before{content:"\f1f6"}
.bdg.bdg-MobileCrib:before{content:"\f1f7"}
.bdg.bdg-More:before{content:"\f1f8"}
.bdg.bdg-MoreAlt:before{content:"\f1f9"}
.bdg.bdg-MothersRoom:before{content:"\f1fa"}
.bdg.bdg-MoveDevice:before{content:"\f1fb"}
.bdg.bdg-Movies:before{content:"\f1fc"}
.bdg.bdg-MyItems:before{content:"\f1fd"}
.bdg.bdg-Navigation:before{content:"\f1fe"}
.bdg.bdg-NavigationAngled:before{content:"\f1ff"}
.bdg.bdg-NavigationAngledFill:before{content:"\f200"}
.bdg.bdg-NavigationFill:before{content:"\f201"}
.bdg.bdg-NikonPolycarbonate:before{content:"\f202"}
.bdg.bdg-NikonPolycarbonateHiIndex:before{content:"\f203"}
.bdg.bdg-NoAddOns:before{content:"\f204"}
.bdg.bdg-NonePrescription:before{content:"\f208"}
.bdg.bdg-NoParking:before{content:"\f205"}
.bdg.bdg-NoPets:before{content:"\f206"}
.bdg.bdg-NoSmoking:before{content:"\f207"}
.bdg.bdg-Note:before{content:"\f209"}
.bdg.bdg-Notebook:before{content:"\f20a"}
.bdg.bdg-OrderReady:before{content:"\f20b"}
.bdg.bdg-OrgChart:before{content:"\f20c"}
.bdg.bdg-OtherCamera:before{content:"\f20d"}
.bdg.bdg-Outdoor:before{content:"\f20e"}
.bdg.bdg-Page:before{content:"\f20f"}
.bdg.bdg-PanelBottom:before{content:"\f210"}
.bdg.bdg-PanelBottomFill:before{content:"\f211"}
.bdg.bdg-PanelLeft:before{content:"\f212"}
.bdg.bdg-PanelLeftFill:before{content:"\f213"}
.bdg.bdg-PanelRight:before{content:"\f214"}
.bdg.bdg-PanelRightFill:before{content:"\f215"}
.bdg.bdg-PanelVerticalHalf:before{content:"\f216"}
.bdg.bdg-PaperCheck:before{content:"\f217"}
.bdg.bdg-Parking:before{content:"\f218"}
.bdg.bdg-ParkingAccessible:before{content:"\f219"}
.bdg.bdg-ParkingBike:before{content:"\f21a"}
.bdg.bdg-Partnership:before{content:"\f21b"}
.bdg.bdg-Pause:before{content:"\f21c"}
.bdg.bdg-PayByPhone:before{content:"\f21d"}
.bdg.bdg-PaymentGiftCard:before{content:"\f21e"}
.bdg.bdg-Pencil:before{content:"\f21f"}
.bdg.bdg-Pet:before{content:"\f220"}
.bdg.bdg-PetCare:before{content:"\f221"}
.bdg.bdg-PetPharmacy:before{content:"\f222"}
.bdg.bdg-Pharmacy:before{content:"\f223"}
.bdg.bdg-PharmacyBottle:before{content:"\f224"}
.bdg.bdg-PharmacyBottleFill:before{content:"\f225"}
.bdg.bdg-Phone:before{content:"\f226"}
.bdg.bdg-PhoneCase:before{content:"\f227"}
.bdg.bdg-PhotoCenter:before{content:"\f228"}
.bdg.bdg-Pin:before{content:"\f229"}
.bdg.bdg-PinFill:before{content:"\f22a"}
.bdg.bdg-Pinterest:before{content:"\f22b"}
.bdg.bdg-Pivot:before{content:"\f22c"}
.bdg.bdg-Pizza:before{content:"\f22d"}
.bdg.bdg-Play:before{content:"\f22e"}
.bdg.bdg-PlayFill:before{content:"\f22f"}
.bdg.bdg-Plus:before{content:"\f230"}
.bdg.bdg-PlusService:before{content:"\f231"}
.bdg.bdg-PolycarbonateMaterial:before{content:"\f232"}
.bdg.bdg-PositionRight:before{content:"\f233"}
.bdg.bdg-PositionTopRight:before{content:"\f234"}
.bdg.bdg-Preowned:before{content:"\f235"}
.bdg.bdg-Printer:before{content:"\f236"}
.bdg.bdg-ProgramTags:before{content:"\f238"}
.bdg.bdg-ProgressiveVision:before{content:"\f239"}
.bdg.bdg-Promo:before{content:"\f23a"}
.bdg.bdg-ProSellerStamp:before{content:"\f237"}
.bdg.bdg-ProtectionHometech:before{content:"\f23b"}
.bdg.bdg-ProtectionPlans:before{content:"\f23c"}
.bdg.bdg-PurchaseHistory:before{content:"\f23d"}
.bdg.bdg-QrCode:before{content:"\f23e"}
.bdg.bdg-QuestionCircle:before{content:"\f23f"}
.bdg.bdg-RandSign:before{content:"\f240"}
.bdg.bdg-ReactiveGlasses:before{content:"\f241"}
.bdg.bdg-Receipt:before{content:"\f242"}
.bdg.bdg-Refresh:before{content:"\f243"}
.bdg.bdg-Reorder:before{content:"\f244"}
.bdg.bdg-Reorder2:before{content:"\f245"}
.bdg.bdg-ReorderFill:before{content:"\f246"}
.bdg.bdg-Reorganize:before{content:"\f247"}
.bdg.bdg-Replace:before{content:"\f248"}
.bdg.bdg-Reports:before{content:"\f249"}
.bdg.bdg-ReportsFill:before{content:"\f24a"}
.bdg.bdg-Restroom:before{content:"\f24b"}
.bdg.bdg-Returns:before{content:"\f24c"}
.bdg.bdg-Rollback:before{content:"\f24d"}
.bdg.bdg-RollbackFill:before{content:"\f24e"}
.bdg.bdg-RotateCamera:before{content:"\f24f"}
.bdg.bdg-RowAdd:before{content:"\f250"}
.bdg.bdg-RxReady:before{content:"\f251"}
.bdg.bdg-SafetyKit:before{content:"\f252"}
.bdg.bdg-Save:before{content:"\f253"}
.bdg.bdg-ScanAndGo:before{content:"\f254"}
.bdg.bdg-ScanAndGoFill:before{content:"\f255"}
.bdg.bdg-ScanCamera:before{content:"\f256"}
.bdg.bdg-SchedulingTools:before{content:"\f257"}
.bdg.bdg-ScreenRotation:before{content:"\f258"}
.bdg.bdg-Search:before{content:"\f259"}
.bdg.bdg-SearchAdd:before{content:"\f25a"}
.bdg.bdg-SearchMenu:before{content:"\f25b"}
.bdg.bdg-SearchMenuFill:before{content:"\f25c"}
.bdg.bdg-SecurityCamera:before{content:"\f25d"}
.bdg.bdg-Services:before{content:"\f25e"}
.bdg.bdg-ServicesFill:before{content:"\f25f"}
.bdg.bdg-SgDonateMoney:before{content:"\f260"}
.bdg.bdg-SgDonateProducts:before{content:"\f261"}
.bdg.bdg-SgEventSpace:before{content:"\f262"}
.bdg.bdg-SgHeart:before{content:"\f263"}
.bdg.bdg-SgHome:before{content:"\f264"}
.bdg.bdg-SgRoundUp:before{content:"\f265"}
.bdg.bdg-SgShareImpact:before{content:"\f266"}
.bdg.bdg-SgSupporter:before{content:"\f267"}
.bdg.bdg-SgVolunteers:before{content:"\f268"}
.bdg.bdg-Share:before{content:"\f269"}
.bdg.bdg-ShareAndroid:before{content:"\f26a"}
.bdg.bdg-ShareAndroidFill:before{content:"\f26b"}
.bdg.bdg-Shipping:before{content:"\f26c"}
.bdg.bdg-ShoppingBag:before{content:"\f26d"}
.bdg.bdg-ShoppingBagFill:before{content:"\f26e"}
.bdg.bdg-Show:before{content:"\f26f"}
.bdg.bdg-Shuffle:before{content:"\f270"}
.bdg.bdg-SideMenu:before{content:"\f271"}
.bdg.bdg-SignIn:before{content:"\f272"}
.bdg.bdg-SignOut:before{content:"\f273"}
.bdg.bdg-Sliders:before{content:"\f274"}
.bdg.bdg-Slot:before{content:"\f275"}
.bdg.bdg-SmartTv:before{content:"\f276"}
.bdg.bdg-Snapchat:before{content:"\f277"}
.bdg.bdg-Social:before{content:"\f278"}
.bdg.bdg-Speaker:before{content:"\f279"}
.bdg.bdg-SpeakerSlash:before{content:"\f27a"}
.bdg.bdg-Stairs:before{content:"\f27b"}
.bdg.bdg-StandardMaterial:before{content:"\f27c"}
.bdg.bdg-Star:before{content:"\f27d"}
.bdg.bdg-StarFill:before{content:"\f27e"}
.bdg.bdg-StarHalf:before{content:"\f27f"}
.bdg.bdg-StoreFront:before{content:"\f280"}
.bdg.bdg-StoreMap:before{content:"\f281"}
.bdg.bdg-Streaming:before{content:"\f282"}
.bdg.bdg-Subscription:before{content:"\f283"}
.bdg.bdg-SunBifocal:before{content:"\f284"}
.bdg.bdg-SunFill:before{content:"\f285"}
.bdg.bdg-SunGlasses:before{content:"\f286"}
.bdg.bdg-SunProgressive:before{content:"\f287"}
.bdg.bdg-SunSingle:before{content:"\f288"}
.bdg.bdg-SwimsuitFill:before{content:"\f289"}
.bdg.bdg-SwipeToRotate:before{content:"\f28a"}
.bdg.bdg-Tag:before{content:"\f28b"}
.bdg.bdg-TagFill:before{content:"\f28c"}
.bdg.bdg-Tap:before{content:"\f28d"}
.bdg.bdg-Targeting:before{content:"\f28e"}
.bdg.bdg-Terminal:before{content:"\f28f"}
.bdg.bdg-TermsofUse:before{content:"\f290"}
.bdg.bdg-TestAndTreat:before{content:"\f291"}
.bdg.bdg-TestFill:before{content:"\f292"}
.bdg.bdg-ThumbDown:before{content:"\f293"}
.bdg.bdg-ThumbDownFill:before{content:"\f294"}
.bdg.bdg-ThumbUp:before{content:"\f295"}
.bdg.bdg-ThumbUpFill:before{content:"\f296"}
.bdg.bdg-Tiktok:before{content:"\f297"}
.bdg.bdg-TireFill:before{content:"\f298"}
.bdg.bdg-Toilet:before{content:"\f299"}
.bdg.bdg-ToiletFamily:before{content:"\f29a"}
.bdg.bdg-ToiletFemale:before{content:"\f29b"}
.bdg.bdg-ToiletMale:before{content:"\f29c"}
.bdg.bdg-ToolsTodo:before{content:"\f29d"}
.bdg.bdg-ToyShopFill:before{content:"\f29e"}
.bdg.bdg-TransferInProgress:before{content:"\f29f"}
.bdg.bdg-TransferRX:before{content:"\f2a0"}
.bdg.bdg-Translation:before{content:"\f2a1"}
.bdg.bdg-Trash:before{content:"\f2a2"}
.bdg.bdg-Travel:before{content:"\f2a3"}
.bdg.bdg-Truck:before{content:"\f2a4"}
.bdg.bdg-Tv:before{content:"\f2a5"}
.bdg.bdg-Twitch:before{content:"\f2a6"}
.bdg.bdg-TwoFingerRotate:before{content:"\f2a7"}
.bdg.bdg-Undo:before{content:"\f2a8"}
.bdg.bdg-User:before{content:"\f2a9"}
.bdg.bdg-UserCircle:before{content:"\f2aa"}
.bdg.bdg-UserCircleFill:before{content:"\f2ab"}
.bdg.bdg-UserPlus:before{content:"\f2ac"}
.bdg.bdg-Users:before{content:"\f2ad"}
.bdg.bdg-Utensils:before{content:"\f2ae"}
.bdg.bdg-UtensilsFill:before{content:"\f2af"}
.bdg.bdg-Vaccination:before{content:"\f2b0"}
.bdg.bdg-Video:before{content:"\f2b1"}
.bdg.bdg-Views:before{content:"\f2b2"}
.bdg.bdg-VirtualCare:before{content:"\f2b3"}
.bdg.bdg-VirtualEyewear:before{content:"\f2b4"}
.bdg.bdg-VisionExam:before{content:"\f2b5"}
.bdg.bdg-VisionMeasurement:before{content:"\f2b6"}
.bdg.bdg-VisualSearch:before{content:"\f2b7"}
.bdg.bdg-VoiceSearch:before{content:"\f2b8"}
.bdg.bdg-Wallet:before{content:"\f2b9"}
.bdg.bdg-WalmartPay:before{content:"\f2ba"}
.bdg.bdg-WalmartPlus:before{content:"\f2bb"}
.bdg.bdg-WalmartProtectionPlan:before{content:"\f2bc"}
.bdg.bdg-Warning:before{content:"\f2bd"}
.bdg.bdg-WarningFill:before{content:"\f2be"}
.bdg.bdg-Water:before{content:"\f2bf"}
.bdg.bdg-WeightMgmtNutritionScale:before{content:"\f2c0"}
.bdg.bdg-Wic:before{content:"\f2c1"}
.bdg.bdg-Wifi:before{content:"\f2c2"}
.bdg.bdg-WifiSlash:before{content:"\f2c3"}
.bdg.bdg-Wrench:before{content:"\f2c4"}
.bdg.bdg-Write:before{content:"\f2c5"}
.bdg.bdg-X:before{content:"\f2c6"}
.bdg.bdg-Youtube:before{content:"\f2c7"}
.bdg.bdg-ZoomIn:before{content:"\f2c8"}
.bdg.bdg-ZoomOut:before{content:"\f2c9"}
