/* LD Portable – TextFieldSplit */
/* TextFieldSplit */
.ld-textfieldsplit-container {
  align-items: stretch;
}

.ld-textfieldsplit-selectWrap {
  align-items: center;
  display: inline-flex;
  flex: none;
  position: relative;
}

.ld-textfieldsplit-select {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border: 0;
  color: var(--ld-semantic-color-field-text-onFill, #2e2f32);
  cursor: pointer;
  font-weight: var(--ld-primitive-font-weight-400);
  margin: 0;
  outline: none;
}

.ld-textfield-disabled .ld-textfieldsplit-select {
  color: var(--ld-semantic-color-field-text-onFill-disabled, #babbbe);
  cursor: default;
}

.ld-textfield-large .ld-textfieldsplit-select {
  font-size: var(--ld-semantic-font-body-medium-size);
  line-height: var(--ld-semantic-font-body-medium-line-height);
  padding: 1rem 2.25rem 1rem 1rem;
}

.ld-textfield-small .ld-textfieldsplit-select {
  font-size: var(--ld-semantic-font-body-small-size);
  line-height: var(--ld-semantic-font-body-small-line-height);
  padding: 0.625rem 2rem 0.625rem 0.75rem;
}

.ld-textfieldsplit-selectCaret {
  color: var(--ld-semantic-color-field-text-onFill, #2e2f32);
  pointer-events: none;
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
}

.ld-textfield-disabled .ld-textfieldsplit-selectCaret {
  color: var(--ld-semantic-color-field-text-onFill-disabled, #babbbe);
}

.ld-textfieldsplit-divider {
  background: var(--ld-semantic-color-field-border, #909196);
  display: inline-block;
  flex: none;
  width: 0.0625rem;
}

.ld-textfield-large .ld-textfieldsplit-value {
  padding-block: var(--ld-primitive-scale-space-200);
  padding-inline-end: var(--ld-primitive-scale-space-200);
  padding-inline-start: var(--ld-primitive-scale-space-150);
}

.ld-textfield-small .ld-textfieldsplit-value {
  padding-block: var(--ld-primitive-scale-space-100);
  padding-inline-end: var(--ld-primitive-scale-space-150);
  padding-inline-start: var(--ld-primitive-scale-space-100);
}

.ld-textfield-root:hover .ld-textfieldsplit-divider,
.hover .ld-textfieldsplit-divider {
  background: var(--ld-semantic-color-field-border-hovered, #2e2f32);
}

.ld-textfield-root:focus-within .ld-textfieldsplit-divider,
.focus .ld-textfieldsplit-divider {
  background: var(--ld-semantic-color-field-border-focused, #2e2f32);
}

.ld-textfield-error .ld-textfieldsplit-divider {
  background: var(--ld-semantic-color-field-border-negative, #ea1100);
}

.ld-textfield-readOnly .ld-textfieldsplit-divider {
  background: var(--ld-semantic-color-field-border, #909196);
}

.ld-textfield-disabled .ld-textfieldsplit-divider {
  background: var(--ld-semantic-color-field-border-disabled, #babbbe);
}
