/* WCP Icon Font */

@font-face {
  font-display: swap;
  font-family: 'WCPIcons';
  font-style: normal;
  src: url('./WCP.woff2') format('woff2');
}

.wcp {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 WCPIcons;
  font-size: inherit;
}

/* 457 icon glyphs */
.wcp.wcp-3DigitCode:before{content:"\f102"}
.wcp.wcp-3DView:before{content:"\f101"}
.wcp.wcp-3hrsOrLess:before{content:"\f103"}
.wcp.wcp-3hrsOrLessFill:before{content:"\f104"}
.wcp.wcp-4DigitCode:before{content:"\f105"}
.wcp.wcp-Accessibility:before{content:"\f106"}
.wcp.wcp-AddCalendar:before{content:"\f107"}
.wcp.wcp-AddFolder:before{content:"\f108"}
.wcp.wcp-AddFolders:before{content:"\f109"}
.wcp.wcp-AdditionalResources:before{content:"\f10c"}
.wcp.wcp-AddToCart:before{content:"\f10a"}
.wcp.wcp-AddToList:before{content:"\f10b"}
.wcp.wcp-AerialDrone:before{content:"\f10d"}
.wcp.wcp-AgeVerify:before{content:"\f10e"}
.wcp.wcp-Alcohol:before{content:"\f10f"}
.wcp.wcp-AntiReflective:before{content:"\f110"}
.wcp.wcp-AntiReflectiveBlue:before{content:"\f111"}
.wcp.wcp-Apartment:before{content:"\f112"}
.wcp.wcp-Archive:before{content:"\f115"}
.wcp.wcp-ArFashion:before{content:"\f113"}
.wcp.wcp-ArHome:before{content:"\f114"}
.wcp.wcp-ArrowCircleLeft:before{content:"\f116"}
.wcp.wcp-ArrowCircleRight:before{content:"\f117"}
.wcp.wcp-ArrowDown:before{content:"\f118"}
.wcp.wcp-ArrowLeft:before{content:"\f119"}
.wcp.wcp-ArrowRight:before{content:"\f11a"}
.wcp.wcp-ArrowSelect:before{content:"\f11b"}
.wcp.wcp-ArrowUp:before{content:"\f11c"}
.wcp.wcp-ArrowUpDown:before{content:"\f11d"}
.wcp.wcp-ArrowUpLeft:before{content:"\f11e"}
.wcp.wcp-Article:before{content:"\f11f"}
.wcp.wcp-Associate:before{content:"\f120"}
.wcp.wcp-Attribution:before{content:"\f121"}
.wcp.wcp-AttributionFill:before{content:"\f122"}
.wcp.wcp-AudioSpeaker:before{content:"\f123"}
.wcp.wcp-Auto:before{content:"\f124"}
.wcp.wcp-AutoCare:before{content:"\f125"}
.wcp.wcp-AutoCareSavings:before{content:"\f126"}
.wcp.wcp-Autofill:before{content:"\f127"}
.wcp.wcp-Availability:before{content:"\f128"}
.wcp.wcp-BabyRegistry:before{content:"\f129"}
.wcp.wcp-BacksideAr:before{content:"\f12a"}
.wcp.wcp-Bakery:before{content:"\f12b"}
.wcp.wcp-Ban:before{content:"\f12c"}
.wcp.wcp-Barcode:before{content:"\f12e"}
.wcp.wcp-BarGraph:before{content:"\f12d"}
.wcp.wcp-BeautyAr:before{content:"\f12f"}
.wcp.wcp-BeautyArFill:before{content:"\f130"}
.wcp.wcp-Bell:before{content:"\f131"}
.wcp.wcp-BenefitCard:before{content:"\f132"}
.wcp.wcp-BifocalVision:before{content:"\f133"}
.wcp.wcp-Bill:before{content:"\f134"}
.wcp.wcp-Bin:before{content:"\f135"}
.wcp.wcp-BirthControl:before{content:"\f136"}
.wcp.wcp-BlueGlasses:before{content:"\f137"}
.wcp.wcp-Bluetooth:before{content:"\f138"}
.wcp.wcp-Bookmark:before{content:"\f139"}
.wcp.wcp-BookmarkFill:before{content:"\f13a"}
.wcp.wcp-Box:before{content:"\f13b"}
.wcp.wcp-Brand:before{content:"\f13c"}
.wcp.wcp-Burger:before{content:"\f13d"}
.wcp.wcp-BusinessInfo:before{content:"\f13e"}
.wcp.wcp-Cafeteria:before{content:"\f13f"}
.wcp.wcp-Calendar:before{content:"\f140"}
.wcp.wcp-Call:before{content:"\f141"}
.wcp.wcp-Camera:before{content:"\f142"}
.wcp.wcp-Car:before{content:"\f143"}
.wcp.wcp-Card:before{content:"\f144"}
.wcp.wcp-CaretDown:before{content:"\f145"}
.wcp.wcp-CaretUp:before{content:"\f146"}
.wcp.wcp-Cart:before{content:"\f147"}
.wcp.wcp-CartFill:before{content:"\f148"}
.wcp.wcp-Cash:before{content:"\f149"}
.wcp.wcp-CashBack:before{content:"\f14a"}
.wcp.wcp-CashLogo:before{content:"\f14b"}
.wcp.wcp-CelebrateFill:before{content:"\f14c"}
.wcp.wcp-Charge:before{content:"\f14d"}
.wcp.wcp-ChargeSlash:before{content:"\f14e"}
.wcp.wcp-ChargingHandle:before{content:"\f14f"}
.wcp.wcp-ChargingVehicle:before{content:"\f150"}
.wcp.wcp-Chat:before{content:"\f151"}
.wcp.wcp-Check:before{content:"\f152"}
.wcp.wcp-CheckCircle:before{content:"\f153"}
.wcp.wcp-CheckCircleFill:before{content:"\f154"}
.wcp.wcp-ChevronDown:before{content:"\f155"}
.wcp.wcp-ChevronLeft:before{content:"\f156"}
.wcp.wcp-ChevronRight:before{content:"\f157"}
.wcp.wcp-ChevronUp:before{content:"\f158"}
.wcp.wcp-ChooseModel:before{content:"\f159"}
.wcp.wcp-ClearGlasses:before{content:"\f15a"}
.wcp.wcp-Clinics:before{content:"\f15b"}
.wcp.wcp-Clock:before{content:"\f15c"}
.wcp.wcp-ClockOut:before{content:"\f15d"}
.wcp.wcp-Close:before{content:"\f15e"}
.wcp.wcp-CloseCircleFill:before{content:"\f15f"}
.wcp.wcp-ClosedCaptioningOff:before{content:"\f162"}
.wcp.wcp-ClosedCaptioningOn:before{content:"\f163"}
.wcp.wcp-ClosedCaptionOff:before{content:"\f160"}
.wcp.wcp-ClosedCaptionOn:before{content:"\f161"}
.wcp.wcp-CloudDownload:before{content:"\f164"}
.wcp.wcp-CloudUpload:before{content:"\f165"}
.wcp.wcp-Code:before{content:"\f166"}
.wcp.wcp-Collectibles:before{content:"\f167"}
.wcp.wcp-Colon:before{content:"\f168"}
.wcp.wcp-CommunityGiving:before{content:"\f169"}
.wcp.wcp-Compare:before{content:"\f16a"}
.wcp.wcp-Contacts:before{content:"\f16b"}
.wcp.wcp-ControlFill:before{content:"\f16c"}
.wcp.wcp-Copy:before{content:"\f16d"}
.wcp.wcp-Cordoba:before{content:"\f16e"}
.wcp.wcp-Crop:before{content:"\f16f"}
.wcp.wcp-Currency:before{content:"\f170"}
.wcp.wcp-CurrentLocation:before{content:"\f171"}
.wcp.wcp-CustomCakes:before{content:"\f172"}
.wcp.wcp-Deli:before{content:"\f173"}
.wcp.wcp-Diamond:before{content:"\f174"}
.wcp.wcp-Dimensions:before{content:"\f175"}
.wcp.wcp-DimensionsFill:before{content:"\f176"}
.wcp.wcp-DimensionsSpin:before{content:"\f177"}
.wcp.wcp-Direction:before{content:"\f178"}
.wcp.wcp-DirectionFill:before{content:"\f179"}
.wcp.wcp-Discover:before{content:"\f17a"}
.wcp.wcp-DiscoverFill:before{content:"\f17b"}
.wcp.wcp-Dollar:before{content:"\f17c"}
.wcp.wcp-DollarCircle:before{content:"\f17d"}
.wcp.wcp-DollarCircleFill:before{content:"\f17e"}
.wcp.wcp-Download:before{content:"\f17f"}
.wcp.wcp-Drag:before{content:"\f180"}
.wcp.wcp-DueToRefill:before{content:"\f181"}
.wcp.wcp-Ebooks:before{content:"\f182"}
.wcp.wcp-Eco:before{content:"\f183"}
.wcp.wcp-EcoFill:before{content:"\f184"}
.wcp.wcp-Elevator:before{content:"\f185"}
.wcp.wcp-Email:before{content:"\f186"}
.wcp.wcp-EntranceNew:before{content:"\f187"}
.wcp.wcp-EvCcs2:before{content:"\f188"}
.wcp.wcp-EvChademo:before{content:"\f189"}
.wcp.wcp-EvChargingStation:before{content:"\f18a"}
.wcp.wcp-EvTesla:before{content:"\f18b"}
.wcp.wcp-ExclamationCircle:before{content:"\f18c"}
.wcp.wcp-ExclamationCircleFill:before{content:"\f18d"}
.wcp.wcp-Exit:before{content:"\f18e"}
.wcp.wcp-Expand:before{content:"\f18f"}
.wcp.wcp-Eye:before{content:"\f190"}
.wcp.wcp-EyeRx:before{content:"\f191"}
.wcp.wcp-EyeSlash:before{content:"\f192"}
.wcp.wcp-Facebook:before{content:"\f193"}
.wcp.wcp-Facility:before{content:"\f194"}
.wcp.wcp-FacilityFill:before{content:"\f195"}
.wcp.wcp-FamilyProfiles:before{content:"\f196"}
.wcp.wcp-Feedback:before{content:"\f197"}
.wcp.wcp-Filter:before{content:"\f198"}
.wcp.wcp-FireExtinguisher:before{content:"\f199"}
.wcp.wcp-FittingRoom:before{content:"\f19a"}
.wcp.wcp-FixedShifts:before{content:"\f19b"}
.wcp.wcp-Flag:before{content:"\f19c"}
.wcp.wcp-FlagFill:before{content:"\f19d"}
.wcp.wcp-Flash:before{content:"\f19e"}
.wcp.wcp-FlashFill:before{content:"\f19f"}
.wcp.wcp-FlashSlash:before{content:"\f1a0"}
.wcp.wcp-FloppyDisk:before{content:"\f1a1"}
.wcp.wcp-Folder:before{content:"\f1a2"}
.wcp.wcp-Folders:before{content:"\f1a3"}
.wcp.wcp-FollowUp:before{content:"\f1a4"}
.wcp.wcp-Football:before{content:"\f1a5"}
.wcp.wcp-Footsteps:before{content:"\f1a6"}
.wcp.wcp-FootstepsFill:before{content:"\f1a7"}
.wcp.wcp-FreeDelivery:before{content:"\f1a8"}
.wcp.wcp-Fridge:before{content:"\f1a9"}
.wcp.wcp-FuelPump:before{content:"\f1aa"}
.wcp.wcp-Fullscreen:before{content:"\f1ab"}
.wcp.wcp-FullscreenExit:before{content:"\f1ac"}
.wcp.wcp-GardenCenter:before{content:"\f1ad"}
.wcp.wcp-Gear:before{content:"\f1ae"}
.wcp.wcp-Gift:before{content:"\f1af"}
.wcp.wcp-GiftCardSpark:before{content:"\f1b0"}
.wcp.wcp-GiftFill:before{content:"\f1b1"}
.wcp.wcp-GiftShop:before{content:"\f1b2"}
.wcp.wcp-GiveFeedback:before{content:"\f1b3"}
.wcp.wcp-Glasses:before{content:"\f1b6"}
.wcp.wcp-GlassShop:before{content:"\f1b4"}
.wcp.wcp-GlassShopFill:before{content:"\f1b5"}
.wcp.wcp-Globe:before{content:"\f1b7"}
.wcp.wcp-Go:before{content:"\f1b8"}
.wcp.wcp-Grid:before{content:"\f1b9"}
.wcp.wcp-GridFill:before{content:"\f1ba"}
.wcp.wcp-GridMasonry:before{content:"\f1bb"}
.wcp.wcp-Grocery:before{content:"\f1bc"}
.wcp.wcp-HeadphoneAudio:before{content:"\f1bd"}
.wcp.wcp-Heart:before{content:"\f1be"}
.wcp.wcp-HeartFill:before{content:"\f1bf"}
.wcp.wcp-Hide:before{content:"\f1c1"}
.wcp.wcp-HiIndexMaterial:before{content:"\f1c0"}
.wcp.wcp-History:before{content:"\f1c2"}
.wcp.wcp-Home:before{content:"\f1c3"}
.wcp.wcp-HomeOffice:before{content:"\f1c4"}
.wcp.wcp-HouseMoney:before{content:"\f1c5"}
.wcp.wcp-Housewares:before{content:"\f1c6"}
.wcp.wcp-IdCard:before{content:"\f1c7"}
.wcp.wcp-Image:before{content:"\f1c8"}
.wcp.wcp-Incognito:before{content:"\f1ca"}
.wcp.wcp-Info:before{content:"\f1cb"}
.wcp.wcp-InfoCircle:before{content:"\f1cc"}
.wcp.wcp-InfoCircleFill:before{content:"\f1cd"}
.wcp.wcp-InHome:before{content:"\f1c9"}
.wcp.wcp-Instagram:before{content:"\f1ce"}
.wcp.wcp-InsuranceCards:before{content:"\f1cf"}
.wcp.wcp-InteractiveVideo:before{content:"\f1d0"}
.wcp.wcp-Key:before{content:"\f1d1"}
.wcp.wcp-Keyboard:before{content:"\f1d2"}
.wcp.wcp-Kiosk:before{content:"\f1d3"}
.wcp.wcp-Lempira:before{content:"\f1d4"}
.wcp.wcp-LightBulb:before{content:"\f1d5"}
.wcp.wcp-LimitedTimeOffers:before{content:"\f1d6"}
.wcp.wcp-LineGraph:before{content:"\f1d7"}
.wcp.wcp-LineGraphFill:before{content:"\f1d8"}
.wcp.wcp-Link:before{content:"\f1d9"}
.wcp.wcp-LinkExternal:before{content:"\f1da"}
.wcp.wcp-List:before{content:"\f1db"}
.wcp.wcp-Lists:before{content:"\f1dc"}
.wcp.wcp-Location:before{content:"\f1dd"}
.wcp.wcp-LocationFill:before{content:"\f1de"}
.wcp.wcp-Lock:before{content:"\f1df"}
.wcp.wcp-LockOpen:before{content:"\f1e0"}
.wcp.wcp-Loop:before{content:"\f1e1"}
.wcp.wcp-Magic:before{content:"\f1e2"}
.wcp.wcp-MagicFill:before{content:"\f1e3"}
.wcp.wcp-MakeupFill:before{content:"\f1e4"}
.wcp.wcp-Map:before{content:"\f1e5"}
.wcp.wcp-MapFill:before{content:"\f1e6"}
.wcp.wcp-MarketingMix:before{content:"\f1e7"}
.wcp.wcp-MarketingMixFill:before{content:"\f1e8"}
.wcp.wcp-Maximize:before{content:"\f1e9"}
.wcp.wcp-Measurement:before{content:"\f1ea"}
.wcp.wcp-MeasurementConsole:before{content:"\f1eb"}
.wcp.wcp-MeasurementConsoleFill:before{content:"\f1ec"}
.wcp.wcp-Medal:before{content:"\f1ed"}
.wcp.wcp-Medical:before{content:"\f1ee"}
.wcp.wcp-Medication:before{content:"\f1ef"}
.wcp.wcp-MegaphoneFill:before{content:"\f1f0"}
.wcp.wcp-Menu:before{content:"\f1f1"}
.wcp.wcp-Microphone:before{content:"\f1f2"}
.wcp.wcp-MicrophoneSlash:before{content:"\f1f3"}
.wcp.wcp-Minimize:before{content:"\f1f4"}
.wcp.wcp-Minus:before{content:"\f1f5"}
.wcp.wcp-Mobile:before{content:"\f1f6"}
.wcp.wcp-MobileCrib:before{content:"\f1f7"}
.wcp.wcp-More:before{content:"\f1f8"}
.wcp.wcp-MoreAlt:before{content:"\f1f9"}
.wcp.wcp-MothersRoom:before{content:"\f1fa"}
.wcp.wcp-MoveDevice:before{content:"\f1fb"}
.wcp.wcp-Movies:before{content:"\f1fc"}
.wcp.wcp-MyItems:before{content:"\f1fd"}
.wcp.wcp-Navigation:before{content:"\f1fe"}
.wcp.wcp-NavigationAngled:before{content:"\f1ff"}
.wcp.wcp-NavigationAngledFill:before{content:"\f200"}
.wcp.wcp-NavigationFill:before{content:"\f201"}
.wcp.wcp-NikonPolycarbonate:before{content:"\f202"}
.wcp.wcp-NikonPolycarbonateHiIndex:before{content:"\f203"}
.wcp.wcp-NoAddOns:before{content:"\f204"}
.wcp.wcp-NonePrescription:before{content:"\f208"}
.wcp.wcp-NoParking:before{content:"\f205"}
.wcp.wcp-NoPets:before{content:"\f206"}
.wcp.wcp-NoSmoking:before{content:"\f207"}
.wcp.wcp-Note:before{content:"\f209"}
.wcp.wcp-Notebook:before{content:"\f20a"}
.wcp.wcp-OrderReady:before{content:"\f20b"}
.wcp.wcp-OrgChart:before{content:"\f20c"}
.wcp.wcp-OtherCamera:before{content:"\f20d"}
.wcp.wcp-Outdoor:before{content:"\f20e"}
.wcp.wcp-Page:before{content:"\f20f"}
.wcp.wcp-PanelBottom:before{content:"\f210"}
.wcp.wcp-PanelBottomFill:before{content:"\f211"}
.wcp.wcp-PanelLeft:before{content:"\f212"}
.wcp.wcp-PanelLeftFill:before{content:"\f213"}
.wcp.wcp-PanelRight:before{content:"\f214"}
.wcp.wcp-PanelRightFill:before{content:"\f215"}
.wcp.wcp-PanelVerticalHalf:before{content:"\f216"}
.wcp.wcp-PaperCheck:before{content:"\f217"}
.wcp.wcp-Parking:before{content:"\f218"}
.wcp.wcp-ParkingAccessible:before{content:"\f219"}
.wcp.wcp-ParkingBike:before{content:"\f21a"}
.wcp.wcp-Partnership:before{content:"\f21b"}
.wcp.wcp-Pause:before{content:"\f21c"}
.wcp.wcp-PayByPhone:before{content:"\f21d"}
.wcp.wcp-PaymentGiftCard:before{content:"\f21e"}
.wcp.wcp-Pencil:before{content:"\f21f"}
.wcp.wcp-Pet:before{content:"\f220"}
.wcp.wcp-PetCare:before{content:"\f221"}
.wcp.wcp-PetPharmacy:before{content:"\f222"}
.wcp.wcp-Pharmacy:before{content:"\f223"}
.wcp.wcp-PharmacyBottle:before{content:"\f224"}
.wcp.wcp-PharmacyBottleFill:before{content:"\f225"}
.wcp.wcp-Phone:before{content:"\f226"}
.wcp.wcp-PhoneCase:before{content:"\f227"}
.wcp.wcp-PhotoCenter:before{content:"\f228"}
.wcp.wcp-Pin:before{content:"\f229"}
.wcp.wcp-PinFill:before{content:"\f22a"}
.wcp.wcp-Pinterest:before{content:"\f22b"}
.wcp.wcp-Pivot:before{content:"\f22c"}
.wcp.wcp-Pizza:before{content:"\f22d"}
.wcp.wcp-Play:before{content:"\f22e"}
.wcp.wcp-PlayFill:before{content:"\f22f"}
.wcp.wcp-Plus:before{content:"\f230"}
.wcp.wcp-PlusService:before{content:"\f231"}
.wcp.wcp-PolycarbonateMaterial:before{content:"\f232"}
.wcp.wcp-PositionRight:before{content:"\f233"}
.wcp.wcp-PositionTopRight:before{content:"\f234"}
.wcp.wcp-Preowned:before{content:"\f235"}
.wcp.wcp-Printer:before{content:"\f236"}
.wcp.wcp-ProgramTags:before{content:"\f238"}
.wcp.wcp-ProgressiveVision:before{content:"\f239"}
.wcp.wcp-Promo:before{content:"\f23a"}
.wcp.wcp-ProSellerStamp:before{content:"\f237"}
.wcp.wcp-ProtectionHometech:before{content:"\f23b"}
.wcp.wcp-ProtectionPlans:before{content:"\f23c"}
.wcp.wcp-PurchaseHistory:before{content:"\f23d"}
.wcp.wcp-QrCode:before{content:"\f23e"}
.wcp.wcp-QuestionCircle:before{content:"\f23f"}
.wcp.wcp-RandSign:before{content:"\f240"}
.wcp.wcp-ReactiveGlasses:before{content:"\f241"}
.wcp.wcp-Receipt:before{content:"\f242"}
.wcp.wcp-Refresh:before{content:"\f243"}
.wcp.wcp-Reorder:before{content:"\f244"}
.wcp.wcp-Reorder2:before{content:"\f245"}
.wcp.wcp-ReorderFill:before{content:"\f246"}
.wcp.wcp-Reorganize:before{content:"\f247"}
.wcp.wcp-Replace:before{content:"\f248"}
.wcp.wcp-Reports:before{content:"\f249"}
.wcp.wcp-ReportsFill:before{content:"\f24a"}
.wcp.wcp-Restroom:before{content:"\f24b"}
.wcp.wcp-Returns:before{content:"\f24c"}
.wcp.wcp-Rollback:before{content:"\f24d"}
.wcp.wcp-RollbackFill:before{content:"\f24e"}
.wcp.wcp-RotateCamera:before{content:"\f24f"}
.wcp.wcp-RowAdd:before{content:"\f250"}
.wcp.wcp-RxReady:before{content:"\f251"}
.wcp.wcp-SafetyKit:before{content:"\f252"}
.wcp.wcp-Save:before{content:"\f253"}
.wcp.wcp-ScanAndGo:before{content:"\f254"}
.wcp.wcp-ScanAndGoFill:before{content:"\f255"}
.wcp.wcp-ScanCamera:before{content:"\f256"}
.wcp.wcp-SchedulingTools:before{content:"\f257"}
.wcp.wcp-ScreenRotation:before{content:"\f258"}
.wcp.wcp-Search:before{content:"\f259"}
.wcp.wcp-SearchAdd:before{content:"\f25a"}
.wcp.wcp-SearchMenu:before{content:"\f25b"}
.wcp.wcp-SearchMenuFill:before{content:"\f25c"}
.wcp.wcp-SecurityCamera:before{content:"\f25d"}
.wcp.wcp-Services:before{content:"\f25e"}
.wcp.wcp-ServicesFill:before{content:"\f25f"}
.wcp.wcp-SgDonateMoney:before{content:"\f260"}
.wcp.wcp-SgDonateProducts:before{content:"\f261"}
.wcp.wcp-SgEventSpace:before{content:"\f262"}
.wcp.wcp-SgHeart:before{content:"\f263"}
.wcp.wcp-SgHome:before{content:"\f264"}
.wcp.wcp-SgRoundUp:before{content:"\f265"}
.wcp.wcp-SgShareImpact:before{content:"\f266"}
.wcp.wcp-SgSupporter:before{content:"\f267"}
.wcp.wcp-SgVolunteers:before{content:"\f268"}
.wcp.wcp-Share:before{content:"\f269"}
.wcp.wcp-ShareAndroid:before{content:"\f26a"}
.wcp.wcp-ShareAndroidFill:before{content:"\f26b"}
.wcp.wcp-Shipping:before{content:"\f26c"}
.wcp.wcp-ShoppingBag:before{content:"\f26d"}
.wcp.wcp-ShoppingBagFill:before{content:"\f26e"}
.wcp.wcp-Show:before{content:"\f26f"}
.wcp.wcp-Shuffle:before{content:"\f270"}
.wcp.wcp-SideMenu:before{content:"\f271"}
.wcp.wcp-SignIn:before{content:"\f272"}
.wcp.wcp-SignOut:before{content:"\f273"}
.wcp.wcp-Sliders:before{content:"\f274"}
.wcp.wcp-Slot:before{content:"\f275"}
.wcp.wcp-SmartTv:before{content:"\f276"}
.wcp.wcp-Snapchat:before{content:"\f277"}
.wcp.wcp-Social:before{content:"\f278"}
.wcp.wcp-Speaker:before{content:"\f279"}
.wcp.wcp-SpeakerSlash:before{content:"\f27a"}
.wcp.wcp-Stairs:before{content:"\f27b"}
.wcp.wcp-StandardMaterial:before{content:"\f27c"}
.wcp.wcp-Star:before{content:"\f27d"}
.wcp.wcp-StarFill:before{content:"\f27e"}
.wcp.wcp-StarHalf:before{content:"\f27f"}
.wcp.wcp-StoreFront:before{content:"\f280"}
.wcp.wcp-StoreMap:before{content:"\f281"}
.wcp.wcp-Streaming:before{content:"\f282"}
.wcp.wcp-Subscription:before{content:"\f283"}
.wcp.wcp-SunBifocal:before{content:"\f284"}
.wcp.wcp-SunFill:before{content:"\f285"}
.wcp.wcp-SunGlasses:before{content:"\f286"}
.wcp.wcp-SunProgressive:before{content:"\f287"}
.wcp.wcp-SunSingle:before{content:"\f288"}
.wcp.wcp-SwimsuitFill:before{content:"\f289"}
.wcp.wcp-SwipeToRotate:before{content:"\f28a"}
.wcp.wcp-Tag:before{content:"\f28b"}
.wcp.wcp-TagFill:before{content:"\f28c"}
.wcp.wcp-Tap:before{content:"\f28d"}
.wcp.wcp-Targeting:before{content:"\f28e"}
.wcp.wcp-Terminal:before{content:"\f28f"}
.wcp.wcp-TermsofUse:before{content:"\f290"}
.wcp.wcp-TestAndTreat:before{content:"\f291"}
.wcp.wcp-TestFill:before{content:"\f292"}
.wcp.wcp-ThumbDown:before{content:"\f293"}
.wcp.wcp-ThumbDownFill:before{content:"\f294"}
.wcp.wcp-ThumbUp:before{content:"\f295"}
.wcp.wcp-ThumbUpFill:before{content:"\f296"}
.wcp.wcp-Tiktok:before{content:"\f297"}
.wcp.wcp-TireFill:before{content:"\f298"}
.wcp.wcp-Toilet:before{content:"\f299"}
.wcp.wcp-ToiletFamily:before{content:"\f29a"}
.wcp.wcp-ToiletFemale:before{content:"\f29b"}
.wcp.wcp-ToiletMale:before{content:"\f29c"}
.wcp.wcp-ToolsTodo:before{content:"\f29d"}
.wcp.wcp-ToyShopFill:before{content:"\f29e"}
.wcp.wcp-TransferInProgress:before{content:"\f29f"}
.wcp.wcp-TransferRX:before{content:"\f2a0"}
.wcp.wcp-Translation:before{content:"\f2a1"}
.wcp.wcp-Trash:before{content:"\f2a2"}
.wcp.wcp-Travel:before{content:"\f2a3"}
.wcp.wcp-Truck:before{content:"\f2a4"}
.wcp.wcp-Tv:before{content:"\f2a5"}
.wcp.wcp-Twitch:before{content:"\f2a6"}
.wcp.wcp-TwoFingerRotate:before{content:"\f2a7"}
.wcp.wcp-Undo:before{content:"\f2a8"}
.wcp.wcp-User:before{content:"\f2a9"}
.wcp.wcp-UserCircle:before{content:"\f2aa"}
.wcp.wcp-UserCircleFill:before{content:"\f2ab"}
.wcp.wcp-UserPlus:before{content:"\f2ac"}
.wcp.wcp-Users:before{content:"\f2ad"}
.wcp.wcp-Utensils:before{content:"\f2ae"}
.wcp.wcp-UtensilsFill:before{content:"\f2af"}
.wcp.wcp-Vaccination:before{content:"\f2b0"}
.wcp.wcp-Video:before{content:"\f2b1"}
.wcp.wcp-Views:before{content:"\f2b2"}
.wcp.wcp-VirtualCare:before{content:"\f2b3"}
.wcp.wcp-VirtualEyewear:before{content:"\f2b4"}
.wcp.wcp-VisionExam:before{content:"\f2b5"}
.wcp.wcp-VisionMeasurement:before{content:"\f2b6"}
.wcp.wcp-VisualSearch:before{content:"\f2b7"}
.wcp.wcp-VoiceSearch:before{content:"\f2b8"}
.wcp.wcp-Wallet:before{content:"\f2b9"}
.wcp.wcp-WalmartPay:before{content:"\f2ba"}
.wcp.wcp-WalmartPlus:before{content:"\f2bb"}
.wcp.wcp-WalmartProtectionPlan:before{content:"\f2bc"}
.wcp.wcp-Warning:before{content:"\f2bd"}
.wcp.wcp-WarningFill:before{content:"\f2be"}
.wcp.wcp-Water:before{content:"\f2bf"}
.wcp.wcp-WeightMgmtNutritionScale:before{content:"\f2c0"}
.wcp.wcp-Wic:before{content:"\f2c1"}
.wcp.wcp-Wifi:before{content:"\f2c2"}
.wcp.wcp-WifiSlash:before{content:"\f2c3"}
.wcp.wcp-Wrench:before{content:"\f2c4"}
.wcp.wcp-Write:before{content:"\f2c5"}
.wcp.wcp-X:before{content:"\f2c6"}
.wcp.wcp-Youtube:before{content:"\f2c7"}
.wcp.wcp-ZoomIn:before{content:"\f2c8"}
.wcp.wcp-ZoomOut:before{content:"\f2c9"}
