registry=https://npm.ci.artifacts.walmart.com/artifactory/api/npm/npme-npm
engine-strict=true
fetch-timeout=180000

# Looper VMs aren't guaranteed to be able to make network requsts outside the Walmart network. We
# therefore need to configure our package manager to make requests via a Walmart proxy.
# https://walmart.slack.com/archives/C5NRQ9NDN/p1672681597121959?thread_ts=1672680732.052299&cid=C5NRQ9NDN
proxy=http://sysproxy.wal-mart.com:8080
https-proxy=http://sysproxy.wal-mart.com:8080
strict-ssl=false
no_proxy=walmart.api.crowdin.com,.wal-mart.com,.walmart.net,.walmart.com,localhost,127.0.0.1
