/* AX Sam's Club Icon Font */

@font-face {
  font-display: swap;
  font-family: 'AXSamsClubIcons';
  font-style: normal;
  src: url('./AXSamsClub.woff2') format('woff2');
}

.axsc {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 AXSamsClubIcons;
  font-size: inherit;
}

/* 242 icon glyphs */
.axsc.axsc-AddFolder:before{content:"\f101"}
.axsc.axsc-AddFolders:before{content:"\f102"}
.axsc.axsc-Ar:before{content:"\f103"}
.axsc.axsc-ArFill:before{content:"\f104"}
.axsc.axsc-ArrowCircleLeft:before{content:"\f105"}
.axsc.axsc-ArrowCircleRight:before{content:"\f106"}
.axsc.axsc-ArrowDown:before{content:"\f107"}
.axsc.axsc-ArrowLeft:before{content:"\f108"}
.axsc.axsc-ArrowRight:before{content:"\f109"}
.axsc.axsc-ArrowSelect:before{content:"\f10a"}
.axsc.axsc-ArrowsLineUpDown:before{content:"\f10c"}
.axsc.axsc-ArrowUp:before{content:"\f10b"}
.axsc.axsc-Article:before{content:"\f10d"}
.axsc.axsc-ArucoMarker:before{content:"\f10e"}
.axsc.axsc-Associate:before{content:"\f10f"}
.axsc.axsc-AutoCare:before{content:"\f110"}
.axsc.axsc-Ban:before{content:"\f111"}
.axsc.axsc-Barcode:before{content:"\f112"}
.axsc.axsc-BatteryCharged:before{content:"\f113"}
.axsc.axsc-BatteryEmpty:before{content:"\f114"}
.axsc.axsc-BatteryFull:before{content:"\f115"}
.axsc.axsc-BatteryHalf:before{content:"\f116"}
.axsc.axsc-BatteryLow:before{content:"\f117"}
.axsc.axsc-Bell:before{content:"\f118"}
.axsc.axsc-BirthdayCake:before{content:"\f119"}
.axsc.axsc-Bluetooth:before{content:"\f11a"}
.axsc.axsc-Bookmark:before{content:"\f11b"}
.axsc.axsc-BookmarkFill:before{content:"\f11c"}
.axsc.axsc-Box:before{content:"\f11d"}
.axsc.axsc-Brand:before{content:"\f11e"}
.axsc.axsc-Briefcase:before{content:"\f11f"}
.axsc.axsc-Bug:before{content:"\f120"}
.axsc.axsc-Calendar:before{content:"\f121"}
.axsc.axsc-CalendarCancel:before{content:"\f122"}
.axsc.axsc-Camera:before{content:"\f123"}
.axsc.axsc-Car:before{content:"\f124"}
.axsc.axsc-Card:before{content:"\f125"}
.axsc.axsc-CaretDown:before{content:"\f126"}
.axsc.axsc-CaretRight:before{content:"\f127"}
.axsc.axsc-CaretUp:before{content:"\f128"}
.axsc.axsc-Cart:before{content:"\f129"}
.axsc.axsc-CartDrop:before{content:"\f12a"}
.axsc.axsc-CartFill:before{content:"\f12b"}
.axsc.axsc-Celebrate:before{content:"\f12c"}
.axsc.axsc-CellularDataSaver:before{content:"\f12d"}
.axsc.axsc-CellularDataSaverSlash:before{content:"\f12e"}
.axsc.axsc-Chat:before{content:"\f12f"}
.axsc.axsc-Check:before{content:"\f130"}
.axsc.axsc-CheckCircle:before{content:"\f131"}
.axsc.axsc-CheckCircleFill:before{content:"\f132"}
.axsc.axsc-ChevronDown:before{content:"\f133"}
.axsc.axsc-ChevronLeft:before{content:"\f134"}
.axsc.axsc-ChevronRight:before{content:"\f135"}
.axsc.axsc-ChevronUp:before{content:"\f136"}
.axsc.axsc-Clock:before{content:"\f137"}
.axsc.axsc-ClockIn:before{content:"\f138"}
.axsc.axsc-ClockOut:before{content:"\f139"}
.axsc.axsc-Close:before{content:"\f13a"}
.axsc.axsc-CloseCircleFill:before{content:"\f13b"}
.axsc.axsc-CloudDownload:before{content:"\f13c"}
.axsc.axsc-CloudUpload:before{content:"\f13d"}
.axsc.axsc-Code:before{content:"\f13e"}
.axsc.axsc-Copy:before{content:"\f13f"}
.axsc.axsc-CurrentLocation:before{content:"\f140"}
.axsc.axsc-Direction:before{content:"\f141"}
.axsc.axsc-DirectionFill:before{content:"\f142"}
.axsc.axsc-Dollar:before{content:"\f143"}
.axsc.axsc-DollarCircle:before{content:"\f144"}
.axsc.axsc-DollarCircleFill:before{content:"\f145"}
.axsc.axsc-Download:before{content:"\f146"}
.axsc.axsc-Email:before{content:"\f147"}
.axsc.axsc-EmailFill:before{content:"\f148"}
.axsc.axsc-ExclamationCircle:before{content:"\f149"}
.axsc.axsc-ExclamationCircleFill:before{content:"\f14a"}
.axsc.axsc-Eye:before{content:"\f14b"}
.axsc.axsc-EyeSlash:before{content:"\f14c"}
.axsc.axsc-Facility:before{content:"\f14d"}
.axsc.axsc-FacilityFill:before{content:"\f14e"}
.axsc.axsc-Filter:before{content:"\f14f"}
.axsc.axsc-Flag:before{content:"\f150"}
.axsc.axsc-FlagFill:before{content:"\f151"}
.axsc.axsc-Flash:before{content:"\f152"}
.axsc.axsc-FlashFill:before{content:"\f153"}
.axsc.axsc-FlashSlash:before{content:"\f154"}
.axsc.axsc-FloppyDisk:before{content:"\f155"}
.axsc.axsc-Folder:before{content:"\f156"}
.axsc.axsc-Folders:before{content:"\f157"}
.axsc.axsc-FruitCarton:before{content:"\f158"}
.axsc.axsc-GardenCenter:before{content:"\f159"}
.axsc.axsc-Gear:before{content:"\f15a"}
.axsc.axsc-GetCare:before{content:"\f15b"}
.axsc.axsc-GetCareFill:before{content:"\f15c"}
.axsc.axsc-Gift:before{content:"\f15d"}
.axsc.axsc-GiftFill:before{content:"\f15e"}
.axsc.axsc-Globe:before{content:"\f15f"}
.axsc.axsc-GraduationCap:before{content:"\f160"}
.axsc.axsc-Grid:before{content:"\f161"}
.axsc.axsc-GridFill:before{content:"\f162"}
.axsc.axsc-GridMasonry:before{content:"\f163"}
.axsc.axsc-Heart:before{content:"\f164"}
.axsc.axsc-HeartFill:before{content:"\f165"}
.axsc.axsc-Hide:before{content:"\f166"}
.axsc.axsc-History:before{content:"\f167"}
.axsc.axsc-Home:before{content:"\f168"}
.axsc.axsc-IdCard:before{content:"\f169"}
.axsc.axsc-Image:before{content:"\f16a"}
.axsc.axsc-Inbox:before{content:"\f16b"}
.axsc.axsc-InboxFill:before{content:"\f16c"}
.axsc.axsc-Incognito:before{content:"\f16d"}
.axsc.axsc-InfoCircle:before{content:"\f16e"}
.axsc.axsc-InfoCircleFill:before{content:"\f16f"}
.axsc.axsc-Keyboard:before{content:"\f170"}
.axsc.axsc-Link:before{content:"\f171"}
.axsc.axsc-LinkExternal:before{content:"\f172"}
.axsc.axsc-List:before{content:"\f173"}
.axsc.axsc-Location:before{content:"\f174"}
.axsc.axsc-LocationPlus:before{content:"\f175"}
.axsc.axsc-Lock:before{content:"\f176"}
.axsc.axsc-LockOpen:before{content:"\f177"}
.axsc.axsc-Loop:before{content:"\f178"}
.axsc.axsc-Magic:before{content:"\f179"}
.axsc.axsc-MagicFill:before{content:"\f17a"}
.axsc.axsc-Map:before{content:"\f17b"}
.axsc.axsc-MapFill:before{content:"\f17c"}
.axsc.axsc-Maximize:before{content:"\f17d"}
.axsc.axsc-Medal:before{content:"\f17e"}
.axsc.axsc-Medication:before{content:"\f17f"}
.axsc.axsc-Menu:before{content:"\f180"}
.axsc.axsc-Microphone:before{content:"\f181"}
.axsc.axsc-MicrophoneSlash:before{content:"\f182"}
.axsc.axsc-Minimize:before{content:"\f183"}
.axsc.axsc-Minus:before{content:"\f184"}
.axsc.axsc-Mobile:before{content:"\f185"}
.axsc.axsc-MoneyStack:before{content:"\f186"}
.axsc.axsc-More:before{content:"\f187"}
.axsc.axsc-MoreAlt:before{content:"\f188"}
.axsc.axsc-MultiDepth:before{content:"\f189"}
.axsc.axsc-Note:before{content:"\f18a"}
.axsc.axsc-Notebook:before{content:"\f18c"}
.axsc.axsc-NoteFill:before{content:"\f18b"}
.axsc.axsc-Outdoor:before{content:"\f18d"}
.axsc.axsc-Pallet:before{content:"\f18e"}
.axsc.axsc-PalletDispense:before{content:"\f18f"}
.axsc.axsc-PalletPick:before{content:"\f190"}
.axsc.axsc-PalletStage:before{content:"\f191"}
.axsc.axsc-PanelBottom:before{content:"\f192"}
.axsc.axsc-PanelBottomFill:before{content:"\f193"}
.axsc.axsc-PanelLeft:before{content:"\f194"}
.axsc.axsc-PanelLeftFill:before{content:"\f195"}
.axsc.axsc-PanelRight:before{content:"\f196"}
.axsc.axsc-PanelRightFill:before{content:"\f197"}
.axsc.axsc-PanelVerticalHalf:before{content:"\f198"}
.axsc.axsc-Paperclip:before{content:"\f199"}
.axsc.axsc-Pause:before{content:"\f19a"}
.axsc.axsc-PaymentCalendarMoney:before{content:"\f19b"}
.axsc.axsc-Pencil:before{content:"\f19c"}
.axsc.axsc-Pet:before{content:"\f19d"}
.axsc.axsc-Pharmacy:before{content:"\f19e"}
.axsc.axsc-Phone:before{content:"\f19f"}
.axsc.axsc-Pin:before{content:"\f1a0"}
.axsc.axsc-PinFill:before{content:"\f1a1"}
.axsc.axsc-PinSlash:before{content:"\f1a2"}
.axsc.axsc-Play:before{content:"\f1a3"}
.axsc.axsc-PlayFill:before{content:"\f1a4"}
.axsc.axsc-Plus:before{content:"\f1a5"}
.axsc.axsc-PositionRight:before{content:"\f1a6"}
.axsc.axsc-PositionTopRight:before{content:"\f1a7"}
.axsc.axsc-Presentation:before{content:"\f1a8"}
.axsc.axsc-Printer:before{content:"\f1a9"}
.axsc.axsc-Profile:before{content:"\f1aa"}
.axsc.axsc-QrCode:before{content:"\f1ab"}
.axsc.axsc-QuestionCircle:before{content:"\f1ac"}
.axsc.axsc-Receipt:before{content:"\f1ad"}
.axsc.axsc-Refresh:before{content:"\f1ae"}
.axsc.axsc-ResetTag:before{content:"\f1af"}
.axsc.axsc-RestBreak:before{content:"\f1b0"}
.axsc.axsc-Returns:before{content:"\f1b1"}
.axsc.axsc-Rotate360:before{content:"\f1b2"}
.axsc.axsc-RowAdd:before{content:"\f1b3"}
.axsc.axsc-Sandwich:before{content:"\f1b4"}
.axsc.axsc-Search:before{content:"\f1b5"}
.axsc.axsc-Service:before{content:"\f1b6"}
.axsc.axsc-ServiceFill:before{content:"\f1b7"}
.axsc.axsc-Services:before{content:"\f1b8"}
.axsc.axsc-ServicesFill:before{content:"\f1b9"}
.axsc.axsc-SgHome:before{content:"\f1ba"}
.axsc.axsc-Share:before{content:"\f1bb"}
.axsc.axsc-ShareAndroid:before{content:"\f1bc"}
.axsc.axsc-ShareAndroidFill:before{content:"\f1bd"}
.axsc.axsc-Shirt:before{content:"\f1be"}
.axsc.axsc-Show:before{content:"\f1bf"}
.axsc.axsc-Shuffle:before{content:"\f1c0"}
.axsc.axsc-SidePanel:before{content:"\f1c1"}
.axsc.axsc-SignIn:before{content:"\f1c2"}
.axsc.axsc-SignOut:before{content:"\f1c3"}
.axsc.axsc-Sliders:before{content:"\f1c4"}
.axsc.axsc-Slot:before{content:"\f1c5"}
.axsc.axsc-SortAscending:before{content:"\f1c6"}
.axsc.axsc-SortDescending:before{content:"\f1c7"}
.axsc.axsc-Speaker:before{content:"\f1c8"}
.axsc.axsc-SpeakerSlash:before{content:"\f1c9"}
.axsc.axsc-Star:before{content:"\f1ca"}
.axsc.axsc-StarFill:before{content:"\f1cb"}
.axsc.axsc-StarHalf:before{content:"\f1cc"}
.axsc.axsc-StopFill:before{content:"\f1cd"}
.axsc.axsc-StoreLocation:before{content:"\f1ce"}
.axsc.axsc-StoreMap:before{content:"\f1cf"}
.axsc.axsc-SwapShift:before{content:"\f1d0"}
.axsc.axsc-Table:before{content:"\f1d1"}
.axsc.axsc-Tag:before{content:"\f1d2"}
.axsc.axsc-TagFill:before{content:"\f1d3"}
.axsc.axsc-Targeting:before{content:"\f1d4"}
.axsc.axsc-Temperature:before{content:"\f1d5"}
.axsc.axsc-Terminal:before{content:"\f1d6"}
.axsc.axsc-ThumbDown:before{content:"\f1d7"}
.axsc.axsc-ThumbDownFill:before{content:"\f1d8"}
.axsc.axsc-ThumbUp:before{content:"\f1d9"}
.axsc.axsc-ThumbUpFill:before{content:"\f1da"}
.axsc.axsc-Trash:before{content:"\f1db"}
.axsc.axsc-Truck:before{content:"\f1dc"}
.axsc.axsc-Undo:before{content:"\f1dd"}
.axsc.axsc-User:before{content:"\f1de"}
.axsc.axsc-UserCircle:before{content:"\f1df"}
.axsc.axsc-UserCircleFill:before{content:"\f1e0"}
.axsc.axsc-UserPlus:before{content:"\f1e1"}
.axsc.axsc-Users:before{content:"\f1e3"}
.axsc.axsc-UserSearch:before{content:"\f1e2"}
.axsc.axsc-UsersPair:before{content:"\f1e4"}
.axsc.axsc-Utensil:before{content:"\f1e5"}
.axsc.axsc-UtensilsFill:before{content:"\f1e6"}
.axsc.axsc-VerifiedShieldFill:before{content:"\f1e7"}
.axsc.axsc-Video:before{content:"\f1e8"}
.axsc.axsc-VoiceSearch:before{content:"\f1e9"}
.axsc.axsc-Wallet:before{content:"\f1ea"}
.axsc.axsc-Warning:before{content:"\f1eb"}
.axsc.axsc-WarningFill:before{content:"\f1ec"}
.axsc.axsc-Wifi:before{content:"\f1ed"}
.axsc.axsc-WifiSlash:before{content:"\f1ee"}
.axsc.axsc-Wrench:before{content:"\f1ef"}
.axsc.axsc-Write:before{content:"\f1f0"}
.axsc.axsc-ZoomIn:before{content:"\f1f1"}
.axsc.axsc-ZoomOut:before{content:"\f1f2"}
