/* LD Portable – Grid */
/* Grid */
.ld-grid-grid {
  display: flex;
  flex-wrap: wrap;
}

.ld-grid-gutter {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
}
@media screen and (min-width: 75rem) {
  .ld-grid-gutter {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
  }
}

/* GridColumn */
.ld-grid-gridcolumn-gridColumn {
  box-sizing: border-box;
  flex: 0 0 auto;
  width: 100%;
}

@media screen and (min-width: 0) {
  .ld-grid-small1 {
    width: 8.3333333333%;
  }
  .ld-grid-small2 {
    width: 16.6666666667%;
  }
  .ld-grid-small3 {
    width: 25%;
  }
  .ld-grid-small4 {
    width: 33.3333333333%;
  }
  .ld-grid-small5 {
    width: 41.6666666667%;
  }
  .ld-grid-small6 {
    width: 50%;
  }
  .ld-grid-small7 {
    width: 58.3333333333%;
  }
  .ld-grid-small8 {
    width: 66.6666666667%;
  }
  .ld-grid-small9 {
    width: 75%;
  }
  .ld-grid-small10 {
    width: 83.3333333333%;
  }
  .ld-grid-small11 {
    width: 91.6666666667%;
  }
  .ld-grid-small12 {
    width: 100%;
  }
}
@media screen and (min-width: 37.5rem) {
  .ld-grid-medium1 {
    width: 8.3333333333%;
  }
  .ld-grid-medium2 {
    width: 16.6666666667%;
  }
  .ld-grid-medium3 {
    width: 25%;
  }
  .ld-grid-medium4 {
    width: 33.3333333333%;
  }
  .ld-grid-medium5 {
    width: 41.6666666667%;
  }
  .ld-grid-medium6 {
    width: 50%;
  }
  .ld-grid-medium7 {
    width: 58.3333333333%;
  }
  .ld-grid-medium8 {
    width: 66.6666666667%;
  }
  .ld-grid-medium9 {
    width: 75%;
  }
  .ld-grid-medium10 {
    width: 83.3333333333%;
  }
  .ld-grid-medium11 {
    width: 91.6666666667%;
  }
  .ld-grid-medium12 {
    width: 100%;
  }
}
@media screen and (min-width: 56.25rem) {
  .ld-grid-large1 {
    width: 8.3333333333%;
  }
  .ld-grid-large2 {
    width: 16.6666666667%;
  }
  .ld-grid-large3 {
    width: 25%;
  }
  .ld-grid-large4 {
    width: 33.3333333333%;
  }
  .ld-grid-large5 {
    width: 41.6666666667%;
  }
  .ld-grid-large6 {
    width: 50%;
  }
  .ld-grid-large7 {
    width: 58.3333333333%;
  }
  .ld-grid-large8 {
    width: 66.6666666667%;
  }
  .ld-grid-large9 {
    width: 75%;
  }
  .ld-grid-large10 {
    width: 83.3333333333%;
  }
  .ld-grid-large11 {
    width: 91.6666666667%;
  }
  .ld-grid-large12 {
    width: 100%;
  }
}
@media screen and (min-width: 75rem) {
  .ld-grid-xlarge1 {
    width: 8.3333333333%;
  }
  .ld-grid-xlarge2 {
    width: 16.6666666667%;
  }
  .ld-grid-xlarge3 {
    width: 25%;
  }
  .ld-grid-xlarge4 {
    width: 33.3333333333%;
  }
  .ld-grid-xlarge5 {
    width: 41.6666666667%;
  }
  .ld-grid-xlarge6 {
    width: 50%;
  }
  .ld-grid-xlarge7 {
    width: 58.3333333333%;
  }
  .ld-grid-xlarge8 {
    width: 66.6666666667%;
  }
  .ld-grid-xlarge9 {
    width: 75%;
  }
  .ld-grid-xlarge10 {
    width: 83.3333333333%;
  }
  .ld-grid-xlarge11 {
    width: 91.6666666667%;
  }
  .ld-grid-xlarge12 {
    width: 100%;
  }
}
@media screen and (min-width: 120rem) {
  .ld-grid-xxlarge1 {
    width: 8.3333333333%;
  }
  .ld-grid-xxlarge2 {
    width: 16.6666666667%;
  }
  .ld-grid-xxlarge3 {
    width: 25%;
  }
  .ld-grid-xxlarge4 {
    width: 33.3333333333%;
  }
  .ld-grid-xxlarge5 {
    width: 41.6666666667%;
  }
  .ld-grid-xxlarge6 {
    width: 50%;
  }
  .ld-grid-xxlarge7 {
    width: 58.3333333333%;
  }
  .ld-grid-xxlarge8 {
    width: 66.6666666667%;
  }
  .ld-grid-xxlarge9 {
    width: 75%;
  }
  .ld-grid-xxlarge10 {
    width: 83.3333333333%;
  }
  .ld-grid-xxlarge11 {
    width: 91.6666666667%;
  }
  .ld-grid-xxlarge12 {
    width: 100%;
  }
}
.ld-grid-gridcolumn-gutter {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media screen and (min-width: 75rem) {
  .ld-grid-gridcolumn-gutter {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}
