/* Sam's Club Icon Font */

@font-face {
  font-display: swap;
  font-family: 'SamsClubIcons';
  font-style: normal;
  src: url('./SamsClub.woff2') format('woff2');
}

.sc {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 SamsClubIcons;
  font-size: inherit;
}

/* 457 icon glyphs */
.sc.sc-3DigitCode:before{content:"\f102"}
.sc.sc-3DView:before{content:"\f101"}
.sc.sc-3hrsOrLess:before{content:"\f103"}
.sc.sc-3hrsOrLessFill:before{content:"\f104"}
.sc.sc-4DigitCode:before{content:"\f105"}
.sc.sc-Accessibility:before{content:"\f106"}
.sc.sc-AddCalendar:before{content:"\f107"}
.sc.sc-AddFolder:before{content:"\f108"}
.sc.sc-AddFolders:before{content:"\f109"}
.sc.sc-AdditionalResources:before{content:"\f10c"}
.sc.sc-AddToCart:before{content:"\f10a"}
.sc.sc-AddToList:before{content:"\f10b"}
.sc.sc-AerialDrone:before{content:"\f10d"}
.sc.sc-AgeVerify:before{content:"\f10e"}
.sc.sc-Alcohol:before{content:"\f10f"}
.sc.sc-AntiReflective:before{content:"\f110"}
.sc.sc-AntiReflectiveBlue:before{content:"\f111"}
.sc.sc-Apartment:before{content:"\f112"}
.sc.sc-Archive:before{content:"\f115"}
.sc.sc-ArFashion:before{content:"\f113"}
.sc.sc-ArHome:before{content:"\f114"}
.sc.sc-ArrowCircleLeft:before{content:"\f116"}
.sc.sc-ArrowCircleRight:before{content:"\f117"}
.sc.sc-ArrowDown:before{content:"\f118"}
.sc.sc-ArrowLeft:before{content:"\f119"}
.sc.sc-ArrowRight:before{content:"\f11a"}
.sc.sc-ArrowSelect:before{content:"\f11b"}
.sc.sc-ArrowUp:before{content:"\f11c"}
.sc.sc-ArrowUpDown:before{content:"\f11d"}
.sc.sc-ArrowUpLeft:before{content:"\f11e"}
.sc.sc-Article:before{content:"\f11f"}
.sc.sc-Associate:before{content:"\f120"}
.sc.sc-Attribution:before{content:"\f121"}
.sc.sc-AttributionFill:before{content:"\f122"}
.sc.sc-AudioSpeaker:before{content:"\f123"}
.sc.sc-Auto:before{content:"\f124"}
.sc.sc-AutoCare:before{content:"\f125"}
.sc.sc-AutoCareSavings:before{content:"\f126"}
.sc.sc-Autofill:before{content:"\f127"}
.sc.sc-Availability:before{content:"\f128"}
.sc.sc-BabyRegistry:before{content:"\f129"}
.sc.sc-BacksideAr:before{content:"\f12a"}
.sc.sc-Bakery:before{content:"\f12b"}
.sc.sc-Ban:before{content:"\f12c"}
.sc.sc-Barcode:before{content:"\f12e"}
.sc.sc-BarGraph:before{content:"\f12d"}
.sc.sc-BeautyAr:before{content:"\f12f"}
.sc.sc-BeautyArFill:before{content:"\f130"}
.sc.sc-Bell:before{content:"\f131"}
.sc.sc-BenefitCard:before{content:"\f132"}
.sc.sc-BifocalVision:before{content:"\f133"}
.sc.sc-Bill:before{content:"\f134"}
.sc.sc-Bin:before{content:"\f135"}
.sc.sc-BirthControl:before{content:"\f136"}
.sc.sc-BlueGlasses:before{content:"\f137"}
.sc.sc-Bluetooth:before{content:"\f138"}
.sc.sc-Bookmark:before{content:"\f139"}
.sc.sc-BookmarkFill:before{content:"\f13a"}
.sc.sc-Box:before{content:"\f13b"}
.sc.sc-Brand:before{content:"\f13c"}
.sc.sc-Burger:before{content:"\f13d"}
.sc.sc-BusinessInfo:before{content:"\f13e"}
.sc.sc-Cafeteria:before{content:"\f13f"}
.sc.sc-Calendar:before{content:"\f140"}
.sc.sc-Call:before{content:"\f141"}
.sc.sc-Camera:before{content:"\f142"}
.sc.sc-Car:before{content:"\f143"}
.sc.sc-Card:before{content:"\f144"}
.sc.sc-CaretDown:before{content:"\f145"}
.sc.sc-CaretUp:before{content:"\f146"}
.sc.sc-Cart:before{content:"\f147"}
.sc.sc-CartFill:before{content:"\f148"}
.sc.sc-Cash:before{content:"\f149"}
.sc.sc-CashBack:before{content:"\f14a"}
.sc.sc-CashLogo:before{content:"\f14b"}
.sc.sc-CelebrateFill:before{content:"\f14c"}
.sc.sc-Charge:before{content:"\f14d"}
.sc.sc-ChargeSlash:before{content:"\f14e"}
.sc.sc-ChargingHandle:before{content:"\f14f"}
.sc.sc-ChargingVehicle:before{content:"\f150"}
.sc.sc-Chat:before{content:"\f151"}
.sc.sc-Check:before{content:"\f152"}
.sc.sc-CheckCircle:before{content:"\f153"}
.sc.sc-CheckCircleFill:before{content:"\f154"}
.sc.sc-ChevronDown:before{content:"\f155"}
.sc.sc-ChevronLeft:before{content:"\f156"}
.sc.sc-ChevronRight:before{content:"\f157"}
.sc.sc-ChevronUp:before{content:"\f158"}
.sc.sc-ChooseModel:before{content:"\f159"}
.sc.sc-ClearGlasses:before{content:"\f15a"}
.sc.sc-Clinics:before{content:"\f15b"}
.sc.sc-Clock:before{content:"\f15c"}
.sc.sc-ClockOut:before{content:"\f15d"}
.sc.sc-Close:before{content:"\f15e"}
.sc.sc-CloseCircleFill:before{content:"\f15f"}
.sc.sc-ClosedCaptioningOff:before{content:"\f162"}
.sc.sc-ClosedCaptioningOn:before{content:"\f163"}
.sc.sc-ClosedCaptionOff:before{content:"\f160"}
.sc.sc-ClosedCaptionOn:before{content:"\f161"}
.sc.sc-CloudDownload:before{content:"\f164"}
.sc.sc-CloudUpload:before{content:"\f165"}
.sc.sc-Code:before{content:"\f166"}
.sc.sc-Collectibles:before{content:"\f167"}
.sc.sc-Colon:before{content:"\f168"}
.sc.sc-CommunityGiving:before{content:"\f169"}
.sc.sc-Compare:before{content:"\f16a"}
.sc.sc-Contacts:before{content:"\f16b"}
.sc.sc-ControlFill:before{content:"\f16c"}
.sc.sc-Copy:before{content:"\f16d"}
.sc.sc-Cordoba:before{content:"\f16e"}
.sc.sc-Crop:before{content:"\f16f"}
.sc.sc-Currency:before{content:"\f170"}
.sc.sc-CurrentLocation:before{content:"\f171"}
.sc.sc-CustomCakes:before{content:"\f172"}
.sc.sc-Deli:before{content:"\f173"}
.sc.sc-Diamond:before{content:"\f174"}
.sc.sc-Dimensions:before{content:"\f175"}
.sc.sc-DimensionsFill:before{content:"\f176"}
.sc.sc-DimensionsSpin:before{content:"\f177"}
.sc.sc-Direction:before{content:"\f178"}
.sc.sc-DirectionFill:before{content:"\f179"}
.sc.sc-Discover:before{content:"\f17a"}
.sc.sc-DiscoverFill:before{content:"\f17b"}
.sc.sc-Dollar:before{content:"\f17c"}
.sc.sc-DollarCircle:before{content:"\f17d"}
.sc.sc-DollarCircleFill:before{content:"\f17e"}
.sc.sc-Download:before{content:"\f17f"}
.sc.sc-Drag:before{content:"\f180"}
.sc.sc-DueToRefill:before{content:"\f181"}
.sc.sc-Ebooks:before{content:"\f182"}
.sc.sc-Eco:before{content:"\f183"}
.sc.sc-EcoFill:before{content:"\f184"}
.sc.sc-Elevator:before{content:"\f185"}
.sc.sc-Email:before{content:"\f186"}
.sc.sc-EntranceNew:before{content:"\f187"}
.sc.sc-EvCcs2:before{content:"\f188"}
.sc.sc-EvChademo:before{content:"\f189"}
.sc.sc-EvChargingStation:before{content:"\f18a"}
.sc.sc-EvTesla:before{content:"\f18b"}
.sc.sc-ExclamationCircle:before{content:"\f18c"}
.sc.sc-ExclamationCircleFill:before{content:"\f18d"}
.sc.sc-Exit:before{content:"\f18e"}
.sc.sc-Expand:before{content:"\f18f"}
.sc.sc-Eye:before{content:"\f190"}
.sc.sc-EyeRx:before{content:"\f191"}
.sc.sc-EyeSlash:before{content:"\f192"}
.sc.sc-Facebook:before{content:"\f193"}
.sc.sc-Facility:before{content:"\f194"}
.sc.sc-FacilityFill:before{content:"\f195"}
.sc.sc-FamilyProfiles:before{content:"\f196"}
.sc.sc-Feedback:before{content:"\f197"}
.sc.sc-Filter:before{content:"\f198"}
.sc.sc-FireExtinguisher:before{content:"\f199"}
.sc.sc-FittingRoom:before{content:"\f19a"}
.sc.sc-FixedShifts:before{content:"\f19b"}
.sc.sc-Flag:before{content:"\f19c"}
.sc.sc-FlagFill:before{content:"\f19d"}
.sc.sc-Flash:before{content:"\f19e"}
.sc.sc-FlashFill:before{content:"\f19f"}
.sc.sc-FlashSlash:before{content:"\f1a0"}
.sc.sc-FloppyDisk:before{content:"\f1a1"}
.sc.sc-Folder:before{content:"\f1a2"}
.sc.sc-Folders:before{content:"\f1a3"}
.sc.sc-FollowUp:before{content:"\f1a4"}
.sc.sc-Football:before{content:"\f1a5"}
.sc.sc-Footsteps:before{content:"\f1a6"}
.sc.sc-FootstepsFill:before{content:"\f1a7"}
.sc.sc-FreeDelivery:before{content:"\f1a8"}
.sc.sc-Fridge:before{content:"\f1a9"}
.sc.sc-FuelPump:before{content:"\f1aa"}
.sc.sc-Fullscreen:before{content:"\f1ab"}
.sc.sc-FullscreenExit:before{content:"\f1ac"}
.sc.sc-GardenCenter:before{content:"\f1ad"}
.sc.sc-Gear:before{content:"\f1ae"}
.sc.sc-Gift:before{content:"\f1af"}
.sc.sc-GiftCardSpark:before{content:"\f1b0"}
.sc.sc-GiftFill:before{content:"\f1b1"}
.sc.sc-GiftShop:before{content:"\f1b2"}
.sc.sc-GiveFeedback:before{content:"\f1b3"}
.sc.sc-Glasses:before{content:"\f1b6"}
.sc.sc-GlassShop:before{content:"\f1b4"}
.sc.sc-GlassShopFill:before{content:"\f1b5"}
.sc.sc-Globe:before{content:"\f1b7"}
.sc.sc-Go:before{content:"\f1b8"}
.sc.sc-Grid:before{content:"\f1b9"}
.sc.sc-GridFill:before{content:"\f1ba"}
.sc.sc-GridMasonry:before{content:"\f1bb"}
.sc.sc-Grocery:before{content:"\f1bc"}
.sc.sc-HeadphoneAudio:before{content:"\f1bd"}
.sc.sc-Heart:before{content:"\f1be"}
.sc.sc-HeartFill:before{content:"\f1bf"}
.sc.sc-Hide:before{content:"\f1c1"}
.sc.sc-HiIndexMaterial:before{content:"\f1c0"}
.sc.sc-History:before{content:"\f1c2"}
.sc.sc-Home:before{content:"\f1c3"}
.sc.sc-HomeOffice:before{content:"\f1c4"}
.sc.sc-HouseMoney:before{content:"\f1c5"}
.sc.sc-Housewares:before{content:"\f1c6"}
.sc.sc-IdCard:before{content:"\f1c7"}
.sc.sc-Image:before{content:"\f1c8"}
.sc.sc-Incognito:before{content:"\f1ca"}
.sc.sc-Info:before{content:"\f1cb"}
.sc.sc-InfoCircle:before{content:"\f1cc"}
.sc.sc-InfoCircleFill:before{content:"\f1cd"}
.sc.sc-InHome:before{content:"\f1c9"}
.sc.sc-Instagram:before{content:"\f1ce"}
.sc.sc-InsuranceCards:before{content:"\f1cf"}
.sc.sc-InteractiveVideo:before{content:"\f1d0"}
.sc.sc-Key:before{content:"\f1d1"}
.sc.sc-Keyboard:before{content:"\f1d2"}
.sc.sc-Kiosk:before{content:"\f1d3"}
.sc.sc-Lempira:before{content:"\f1d4"}
.sc.sc-LightBulb:before{content:"\f1d5"}
.sc.sc-LimitedTimeOffers:before{content:"\f1d6"}
.sc.sc-LineGraph:before{content:"\f1d7"}
.sc.sc-LineGraphFill:before{content:"\f1d8"}
.sc.sc-Link:before{content:"\f1d9"}
.sc.sc-LinkExternal:before{content:"\f1da"}
.sc.sc-List:before{content:"\f1db"}
.sc.sc-Lists:before{content:"\f1dc"}
.sc.sc-Location:before{content:"\f1dd"}
.sc.sc-LocationFill:before{content:"\f1de"}
.sc.sc-Lock:before{content:"\f1df"}
.sc.sc-LockOpen:before{content:"\f1e0"}
.sc.sc-Loop:before{content:"\f1e1"}
.sc.sc-Magic:before{content:"\f1e2"}
.sc.sc-MagicFill:before{content:"\f1e3"}
.sc.sc-MakeupFill:before{content:"\f1e4"}
.sc.sc-Map:before{content:"\f1e5"}
.sc.sc-MapFill:before{content:"\f1e6"}
.sc.sc-MarketingMix:before{content:"\f1e7"}
.sc.sc-MarketingMixFill:before{content:"\f1e8"}
.sc.sc-Maximize:before{content:"\f1e9"}
.sc.sc-Measurement:before{content:"\f1ea"}
.sc.sc-MeasurementConsole:before{content:"\f1eb"}
.sc.sc-MeasurementConsoleFill:before{content:"\f1ec"}
.sc.sc-Medal:before{content:"\f1ed"}
.sc.sc-Medical:before{content:"\f1ee"}
.sc.sc-Medication:before{content:"\f1ef"}
.sc.sc-MegaphoneFill:before{content:"\f1f0"}
.sc.sc-Menu:before{content:"\f1f1"}
.sc.sc-Microphone:before{content:"\f1f2"}
.sc.sc-MicrophoneSlash:before{content:"\f1f3"}
.sc.sc-Minimize:before{content:"\f1f4"}
.sc.sc-Minus:before{content:"\f1f5"}
.sc.sc-Mobile:before{content:"\f1f6"}
.sc.sc-MobileCrib:before{content:"\f1f7"}
.sc.sc-More:before{content:"\f1f8"}
.sc.sc-MoreAlt:before{content:"\f1f9"}
.sc.sc-MothersRoom:before{content:"\f1fa"}
.sc.sc-MoveDevice:before{content:"\f1fb"}
.sc.sc-Movies:before{content:"\f1fc"}
.sc.sc-MyItems:before{content:"\f1fd"}
.sc.sc-Navigation:before{content:"\f1fe"}
.sc.sc-NavigationAngled:before{content:"\f1ff"}
.sc.sc-NavigationAngledFill:before{content:"\f200"}
.sc.sc-NavigationFill:before{content:"\f201"}
.sc.sc-NikonPolycarbonate:before{content:"\f202"}
.sc.sc-NikonPolycarbonateHiIndex:before{content:"\f203"}
.sc.sc-NoAddOns:before{content:"\f204"}
.sc.sc-NonePrescription:before{content:"\f208"}
.sc.sc-NoParking:before{content:"\f205"}
.sc.sc-NoPets:before{content:"\f206"}
.sc.sc-NoSmoking:before{content:"\f207"}
.sc.sc-Note:before{content:"\f209"}
.sc.sc-Notebook:before{content:"\f20a"}
.sc.sc-OrderReady:before{content:"\f20b"}
.sc.sc-OrgChart:before{content:"\f20c"}
.sc.sc-OtherCamera:before{content:"\f20d"}
.sc.sc-Outdoor:before{content:"\f20e"}
.sc.sc-Page:before{content:"\f20f"}
.sc.sc-PanelBottom:before{content:"\f210"}
.sc.sc-PanelBottomFill:before{content:"\f211"}
.sc.sc-PanelLeft:before{content:"\f212"}
.sc.sc-PanelLeftFill:before{content:"\f213"}
.sc.sc-PanelRight:before{content:"\f214"}
.sc.sc-PanelRightFill:before{content:"\f215"}
.sc.sc-PanelVerticalHalf:before{content:"\f216"}
.sc.sc-PaperCheck:before{content:"\f217"}
.sc.sc-Parking:before{content:"\f218"}
.sc.sc-ParkingAccessible:before{content:"\f219"}
.sc.sc-ParkingBike:before{content:"\f21a"}
.sc.sc-Partnership:before{content:"\f21b"}
.sc.sc-Pause:before{content:"\f21c"}
.sc.sc-PayByPhone:before{content:"\f21d"}
.sc.sc-PaymentGiftCard:before{content:"\f21e"}
.sc.sc-Pencil:before{content:"\f21f"}
.sc.sc-Pet:before{content:"\f220"}
.sc.sc-PetCare:before{content:"\f221"}
.sc.sc-PetPharmacy:before{content:"\f222"}
.sc.sc-Pharmacy:before{content:"\f223"}
.sc.sc-PharmacyBottle:before{content:"\f224"}
.sc.sc-PharmacyBottleFill:before{content:"\f225"}
.sc.sc-Phone:before{content:"\f226"}
.sc.sc-PhoneCase:before{content:"\f227"}
.sc.sc-PhotoCenter:before{content:"\f228"}
.sc.sc-Pin:before{content:"\f229"}
.sc.sc-PinFill:before{content:"\f22a"}
.sc.sc-Pinterest:before{content:"\f22b"}
.sc.sc-Pivot:before{content:"\f22c"}
.sc.sc-Pizza:before{content:"\f22d"}
.sc.sc-Play:before{content:"\f22e"}
.sc.sc-PlayFill:before{content:"\f22f"}
.sc.sc-Plus:before{content:"\f230"}
.sc.sc-PlusService:before{content:"\f231"}
.sc.sc-PolycarbonateMaterial:before{content:"\f232"}
.sc.sc-PositionRight:before{content:"\f233"}
.sc.sc-PositionTopRight:before{content:"\f234"}
.sc.sc-Preowned:before{content:"\f235"}
.sc.sc-Printer:before{content:"\f236"}
.sc.sc-ProgramTags:before{content:"\f238"}
.sc.sc-ProgressiveVision:before{content:"\f239"}
.sc.sc-Promo:before{content:"\f23a"}
.sc.sc-ProSellerStamp:before{content:"\f237"}
.sc.sc-ProtectionHometech:before{content:"\f23b"}
.sc.sc-ProtectionPlans:before{content:"\f23c"}
.sc.sc-PurchaseHistory:before{content:"\f23d"}
.sc.sc-QrCode:before{content:"\f23e"}
.sc.sc-QuestionCircle:before{content:"\f23f"}
.sc.sc-RandSign:before{content:"\f240"}
.sc.sc-ReactiveGlasses:before{content:"\f241"}
.sc.sc-Receipt:before{content:"\f242"}
.sc.sc-Refresh:before{content:"\f243"}
.sc.sc-Reorder:before{content:"\f244"}
.sc.sc-Reorder2:before{content:"\f245"}
.sc.sc-ReorderFill:before{content:"\f246"}
.sc.sc-Reorganize:before{content:"\f247"}
.sc.sc-Replace:before{content:"\f248"}
.sc.sc-Reports:before{content:"\f249"}
.sc.sc-ReportsFill:before{content:"\f24a"}
.sc.sc-Restroom:before{content:"\f24b"}
.sc.sc-Returns:before{content:"\f24c"}
.sc.sc-Rollback:before{content:"\f24d"}
.sc.sc-RollbackFill:before{content:"\f24e"}
.sc.sc-RotateCamera:before{content:"\f24f"}
.sc.sc-RowAdd:before{content:"\f250"}
.sc.sc-RxReady:before{content:"\f251"}
.sc.sc-SafetyKit:before{content:"\f252"}
.sc.sc-Save:before{content:"\f253"}
.sc.sc-ScanAndGo:before{content:"\f254"}
.sc.sc-ScanAndGoFill:before{content:"\f255"}
.sc.sc-ScanCamera:before{content:"\f256"}
.sc.sc-SchedulingTools:before{content:"\f257"}
.sc.sc-ScreenRotation:before{content:"\f258"}
.sc.sc-Search:before{content:"\f259"}
.sc.sc-SearchAdd:before{content:"\f25a"}
.sc.sc-SearchMenu:before{content:"\f25b"}
.sc.sc-SearchMenuFill:before{content:"\f25c"}
.sc.sc-SecurityCamera:before{content:"\f25d"}
.sc.sc-Services:before{content:"\f25e"}
.sc.sc-ServicesFill:before{content:"\f25f"}
.sc.sc-SgDonateMoney:before{content:"\f260"}
.sc.sc-SgDonateProducts:before{content:"\f261"}
.sc.sc-SgEventSpace:before{content:"\f262"}
.sc.sc-SgHeart:before{content:"\f263"}
.sc.sc-SgHome:before{content:"\f264"}
.sc.sc-SgRoundUp:before{content:"\f265"}
.sc.sc-SgShareImpact:before{content:"\f266"}
.sc.sc-SgSupporter:before{content:"\f267"}
.sc.sc-SgVolunteers:before{content:"\f268"}
.sc.sc-Share:before{content:"\f269"}
.sc.sc-ShareAndroid:before{content:"\f26a"}
.sc.sc-ShareAndroidFill:before{content:"\f26b"}
.sc.sc-Shipping:before{content:"\f26c"}
.sc.sc-ShoppingBag:before{content:"\f26d"}
.sc.sc-ShoppingBagFill:before{content:"\f26e"}
.sc.sc-Show:before{content:"\f26f"}
.sc.sc-Shuffle:before{content:"\f270"}
.sc.sc-SideMenu:before{content:"\f271"}
.sc.sc-SignIn:before{content:"\f272"}
.sc.sc-SignOut:before{content:"\f273"}
.sc.sc-Sliders:before{content:"\f274"}
.sc.sc-Slot:before{content:"\f275"}
.sc.sc-SmartTv:before{content:"\f276"}
.sc.sc-Snapchat:before{content:"\f277"}
.sc.sc-Social:before{content:"\f278"}
.sc.sc-Speaker:before{content:"\f279"}
.sc.sc-SpeakerSlash:before{content:"\f27a"}
.sc.sc-Stairs:before{content:"\f27b"}
.sc.sc-StandardMaterial:before{content:"\f27c"}
.sc.sc-Star:before{content:"\f27d"}
.sc.sc-StarFill:before{content:"\f27e"}
.sc.sc-StarHalf:before{content:"\f27f"}
.sc.sc-StoreFront:before{content:"\f280"}
.sc.sc-StoreMap:before{content:"\f281"}
.sc.sc-Streaming:before{content:"\f282"}
.sc.sc-Subscription:before{content:"\f283"}
.sc.sc-SunBifocal:before{content:"\f284"}
.sc.sc-SunFill:before{content:"\f285"}
.sc.sc-SunGlasses:before{content:"\f286"}
.sc.sc-SunProgressive:before{content:"\f287"}
.sc.sc-SunSingle:before{content:"\f288"}
.sc.sc-SwimsuitFill:before{content:"\f289"}
.sc.sc-SwipeToRotate:before{content:"\f28a"}
.sc.sc-Tag:before{content:"\f28b"}
.sc.sc-TagFill:before{content:"\f28c"}
.sc.sc-Tap:before{content:"\f28d"}
.sc.sc-Targeting:before{content:"\f28e"}
.sc.sc-Terminal:before{content:"\f28f"}
.sc.sc-TermsofUse:before{content:"\f290"}
.sc.sc-TestAndTreat:before{content:"\f291"}
.sc.sc-TestFill:before{content:"\f292"}
.sc.sc-ThumbDown:before{content:"\f293"}
.sc.sc-ThumbDownFill:before{content:"\f294"}
.sc.sc-ThumbUp:before{content:"\f295"}
.sc.sc-ThumbUpFill:before{content:"\f296"}
.sc.sc-Tiktok:before{content:"\f297"}
.sc.sc-TireFill:before{content:"\f298"}
.sc.sc-Toilet:before{content:"\f299"}
.sc.sc-ToiletFamily:before{content:"\f29a"}
.sc.sc-ToiletFemale:before{content:"\f29b"}
.sc.sc-ToiletMale:before{content:"\f29c"}
.sc.sc-ToolsTodo:before{content:"\f29d"}
.sc.sc-ToyShopFill:before{content:"\f29e"}
.sc.sc-TransferInProgress:before{content:"\f29f"}
.sc.sc-TransferRX:before{content:"\f2a0"}
.sc.sc-Translation:before{content:"\f2a1"}
.sc.sc-Trash:before{content:"\f2a2"}
.sc.sc-Travel:before{content:"\f2a3"}
.sc.sc-Truck:before{content:"\f2a4"}
.sc.sc-Tv:before{content:"\f2a5"}
.sc.sc-Twitch:before{content:"\f2a6"}
.sc.sc-TwoFingerRotate:before{content:"\f2a7"}
.sc.sc-Undo:before{content:"\f2a8"}
.sc.sc-User:before{content:"\f2a9"}
.sc.sc-UserCircle:before{content:"\f2aa"}
.sc.sc-UserCircleFill:before{content:"\f2ab"}
.sc.sc-UserPlus:before{content:"\f2ac"}
.sc.sc-Users:before{content:"\f2ad"}
.sc.sc-Utensils:before{content:"\f2ae"}
.sc.sc-UtensilsFill:before{content:"\f2af"}
.sc.sc-Vaccination:before{content:"\f2b0"}
.sc.sc-Video:before{content:"\f2b1"}
.sc.sc-Views:before{content:"\f2b2"}
.sc.sc-VirtualCare:before{content:"\f2b3"}
.sc.sc-VirtualEyewear:before{content:"\f2b4"}
.sc.sc-VisionExam:before{content:"\f2b5"}
.sc.sc-VisionMeasurement:before{content:"\f2b6"}
.sc.sc-VisualSearch:before{content:"\f2b7"}
.sc.sc-VoiceSearch:before{content:"\f2b8"}
.sc.sc-Wallet:before{content:"\f2b9"}
.sc.sc-WalmartPay:before{content:"\f2ba"}
.sc.sc-WalmartPlus:before{content:"\f2bb"}
.sc.sc-WalmartProtectionPlan:before{content:"\f2bc"}
.sc.sc-Warning:before{content:"\f2bd"}
.sc.sc-WarningFill:before{content:"\f2be"}
.sc.sc-Water:before{content:"\f2bf"}
.sc.sc-WeightMgmtNutritionScale:before{content:"\f2c0"}
.sc.sc-Wic:before{content:"\f2c1"}
.sc.sc-Wifi:before{content:"\f2c2"}
.sc.sc-WifiSlash:before{content:"\f2c3"}
.sc.sc-Wrench:before{content:"\f2c4"}
.sc.sc-Write:before{content:"\f2c5"}
.sc.sc-X:before{content:"\f2c6"}
.sc.sc-Youtube:before{content:"\f2c7"}
.sc.sc-ZoomIn:before{content:"\f2c8"}
.sc.sc-ZoomOut:before{content:"\f2c9"}
