/* Living Design Icon Font */

@font-face {
  font-display: swap;
  font-family: 'LDIcons';
  font-style: normal;
  src: url('./LD.woff2') format('woff2');
}

.ld {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 LDIcons;
  font-size: inherit;
}

/* 165 icon glyphs */
.ld.ld-AddFolder:before{content:"\f101"}
.ld.ld-AddFolders:before{content:"\f102"}
.ld.ld-ArrowCircleLeft:before{content:"\f103"}
.ld.ld-ArrowCircleRight:before{content:"\f104"}
.ld.ld-ArrowDown:before{content:"\f105"}
.ld.ld-ArrowLeft:before{content:"\f106"}
.ld.ld-ArrowRight:before{content:"\f107"}
.ld.ld-ArrowSelect:before{content:"\f108"}
.ld.ld-ArrowUp:before{content:"\f109"}
.ld.ld-Article:before{content:"\f10a"}
.ld.ld-AutoCare:before{content:"\f10b"}
.ld.ld-Ban:before{content:"\f10c"}
.ld.ld-Barcode:before{content:"\f10d"}
.ld.ld-Bell:before{content:"\f10e"}
.ld.ld-Bluetooth:before{content:"\f10f"}
.ld.ld-Bookmark:before{content:"\f110"}
.ld.ld-BookmarkFill:before{content:"\f111"}
.ld.ld-Box:before{content:"\f112"}
.ld.ld-Calendar:before{content:"\f113"}
.ld.ld-Camera:before{content:"\f114"}
.ld.ld-Car:before{content:"\f115"}
.ld.ld-Card:before{content:"\f116"}
.ld.ld-CaretDown:before{content:"\f117"}
.ld.ld-CaretUp:before{content:"\f118"}
.ld.ld-Chat:before{content:"\f119"}
.ld.ld-Check:before{content:"\f11a"}
.ld.ld-CheckCircle:before{content:"\f11b"}
.ld.ld-CheckCircleFill:before{content:"\f11c"}
.ld.ld-ChevronDown:before{content:"\f11d"}
.ld.ld-ChevronLeft:before{content:"\f11e"}
.ld.ld-ChevronRight:before{content:"\f11f"}
.ld.ld-ChevronUp:before{content:"\f120"}
.ld.ld-Clock:before{content:"\f121"}
.ld.ld-Close:before{content:"\f122"}
.ld.ld-CloseCircleFill:before{content:"\f123"}
.ld.ld-CloudDownload:before{content:"\f124"}
.ld.ld-CloudUpload:before{content:"\f125"}
.ld.ld-Code:before{content:"\f126"}
.ld.ld-Copy:before{content:"\f127"}
.ld.ld-CurrentLocation:before{content:"\f128"}
.ld.ld-Dollar:before{content:"\f129"}
.ld.ld-DollarCircle:before{content:"\f12a"}
.ld.ld-DollarCircleFill:before{content:"\f12b"}
.ld.ld-Download:before{content:"\f12c"}
.ld.ld-Email:before{content:"\f12d"}
.ld.ld-ExclamationCircle:before{content:"\f12e"}
.ld.ld-ExclamationCircleFill:before{content:"\f12f"}
.ld.ld-Eye:before{content:"\f130"}
.ld.ld-EyeSlash:before{content:"\f131"}
.ld.ld-Facility:before{content:"\f132"}
.ld.ld-FacilityFill:before{content:"\f133"}
.ld.ld-Filter:before{content:"\f134"}
.ld.ld-Flag:before{content:"\f135"}
.ld.ld-FlagFill:before{content:"\f136"}
.ld.ld-Flash:before{content:"\f137"}
.ld.ld-FlashFill:before{content:"\f138"}
.ld.ld-FlashSlash:before{content:"\f139"}
.ld.ld-FloppyDisk:before{content:"\f13a"}
.ld.ld-Folder:before{content:"\f13b"}
.ld.ld-Folders:before{content:"\f13c"}
.ld.ld-Gear:before{content:"\f13d"}
.ld.ld-Gift:before{content:"\f13e"}
.ld.ld-GiftFill:before{content:"\f13f"}
.ld.ld-Globe:before{content:"\f140"}
.ld.ld-Grid:before{content:"\f141"}
.ld.ld-GridFill:before{content:"\f142"}
.ld.ld-GridMasonry:before{content:"\f143"}
.ld.ld-Heart:before{content:"\f144"}
.ld.ld-HeartFill:before{content:"\f145"}
.ld.ld-Hide:before{content:"\f146"}
.ld.ld-History:before{content:"\f147"}
.ld.ld-Home:before{content:"\f148"}
.ld.ld-IdCard:before{content:"\f149"}
.ld.ld-Image:before{content:"\f14a"}
.ld.ld-Incognito:before{content:"\f14b"}
.ld.ld-InfoCircle:before{content:"\f14c"}
.ld.ld-InfoCircleFill:before{content:"\f14d"}
.ld.ld-Keyboard:before{content:"\f14e"}
.ld.ld-Link:before{content:"\f14f"}
.ld.ld-LinkExternal:before{content:"\f150"}
.ld.ld-List:before{content:"\f151"}
.ld.ld-Location:before{content:"\f152"}
.ld.ld-Lock:before{content:"\f153"}
.ld.ld-LockOpen:before{content:"\f154"}
.ld.ld-Loop:before{content:"\f155"}
.ld.ld-Magic:before{content:"\f156"}
.ld.ld-MagicFill:before{content:"\f157"}
.ld.ld-Map:before{content:"\f158"}
.ld.ld-MapFill:before{content:"\f159"}
.ld.ld-Maximize:before{content:"\f15a"}
.ld.ld-Medal:before{content:"\f15b"}
.ld.ld-Menu:before{content:"\f15c"}
.ld.ld-Microphone:before{content:"\f15d"}
.ld.ld-MicrophoneSlash:before{content:"\f15e"}
.ld.ld-Minimize:before{content:"\f15f"}
.ld.ld-Minus:before{content:"\f160"}
.ld.ld-Mobile:before{content:"\f161"}
.ld.ld-More:before{content:"\f162"}
.ld.ld-MoreAlt:before{content:"\f163"}
.ld.ld-Note:before{content:"\f164"}
.ld.ld-Notebook:before{content:"\f165"}
.ld.ld-PanelBottom:before{content:"\f166"}
.ld.ld-PanelBottomFill:before{content:"\f167"}
.ld.ld-PanelLeft:before{content:"\f168"}
.ld.ld-PanelLeftFill:before{content:"\f169"}
.ld.ld-PanelRight:before{content:"\f16a"}
.ld.ld-PanelRightFill:before{content:"\f16b"}
.ld.ld-PanelVerticalHalf:before{content:"\f16c"}
.ld.ld-Pause:before{content:"\f16d"}
.ld.ld-Pencil:before{content:"\f16e"}
.ld.ld-Phone:before{content:"\f16f"}
.ld.ld-Play:before{content:"\f170"}
.ld.ld-PlayFill:before{content:"\f171"}
.ld.ld-Plus:before{content:"\f172"}
.ld.ld-PositionRight:before{content:"\f173"}
.ld.ld-PositionTopRight:before{content:"\f174"}
.ld.ld-Printer:before{content:"\f175"}
.ld.ld-QrCode:before{content:"\f176"}
.ld.ld-QuestionCircle:before{content:"\f177"}
.ld.ld-Receipt:before{content:"\f178"}
.ld.ld-Refresh:before{content:"\f179"}
.ld.ld-Returns:before{content:"\f17a"}
.ld.ld-RowAdd:before{content:"\f17b"}
.ld.ld-Search:before{content:"\f17c"}
.ld.ld-Services:before{content:"\f17d"}
.ld.ld-ServicesFill:before{content:"\f17e"}
.ld.ld-Share:before{content:"\f17f"}
.ld.ld-ShareAndroid:before{content:"\f180"}
.ld.ld-ShareAndroidFill:before{content:"\f181"}
.ld.ld-Show:before{content:"\f182"}
.ld.ld-Shuffle:before{content:"\f183"}
.ld.ld-SignIn:before{content:"\f184"}
.ld.ld-SignOut:before{content:"\f185"}
.ld.ld-Sliders:before{content:"\f186"}
.ld.ld-Speaker:before{content:"\f187"}
.ld.ld-SpeakerSlash:before{content:"\f188"}
.ld.ld-Star:before{content:"\f189"}
.ld.ld-StarFill:before{content:"\f18a"}
.ld.ld-StarHalf:before{content:"\f18b"}
.ld.ld-Tag:before{content:"\f18c"}
.ld.ld-TagFill:before{content:"\f18d"}
.ld.ld-Terminal:before{content:"\f18e"}
.ld.ld-ThumbDown:before{content:"\f18f"}
.ld.ld-ThumbDownFill:before{content:"\f190"}
.ld.ld-ThumbUp:before{content:"\f191"}
.ld.ld-ThumbUpFill:before{content:"\f192"}
.ld.ld-Trash:before{content:"\f193"}
.ld.ld-Truck:before{content:"\f194"}
.ld.ld-Undo:before{content:"\f195"}
.ld.ld-User:before{content:"\f196"}
.ld.ld-UserCircle:before{content:"\f197"}
.ld.ld-UserCircleFill:before{content:"\f198"}
.ld.ld-UserPlus:before{content:"\f199"}
.ld.ld-Users:before{content:"\f19a"}
.ld.ld-Video:before{content:"\f19b"}
.ld.ld-VoiceSearch:before{content:"\f19c"}
.ld.ld-Wallet:before{content:"\f19d"}
.ld.ld-Warning:before{content:"\f19e"}
.ld.ld-WarningFill:before{content:"\f19f"}
.ld.ld-Wifi:before{content:"\f1a0"}
.ld.ld-WifiSlash:before{content:"\f1a1"}
.ld.ld-Wrench:before{content:"\f1a2"}
.ld.ld-Write:before{content:"\f1a3"}
.ld.ld-ZoomIn:before{content:"\f1a4"}
.ld.ld-ZoomOut:before{content:"\f1a5"}
