/* PX Icon Font */

@font-face {
  font-display: swap;
  font-family: 'PXIcons';
  font-style: normal;
  src: url('./PX.woff2') format('woff2');
}

.px {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 PXIcons;
  font-size: inherit;
}

/* 350 icon glyphs */
.px.px-AddFolder:before{content:"\f101"}
.px.px-AddFolders:before{content:"\f102"}
.px.px-Airplane:before{content:"\f103"}
.px.px-AppSwitcher:before{content:"\f104"}
.px.px-ArrowCircleDot:before{content:"\f105"}
.px.px-ArrowCircleLeft:before{content:"\f106"}
.px.px-ArrowCircleRight:before{content:"\f107"}
.px.px-ArrowDown:before{content:"\f108"}
.px.px-ArrowDownMoney:before{content:"\f109"}
.px.px-ArrowLeft:before{content:"\f10a"}
.px.px-ArrowLineLeft:before{content:"\f10b"}
.px.px-ArrowLineRight:before{content:"\f10c"}
.px.px-ArrowMobileUpLeft:before{content:"\f10d"}
.px.px-ArrowRight:before{content:"\f10e"}
.px.px-ArrowsCurveLeftRight:before{content:"\f114"}
.px.px-ArrowSelect:before{content:"\f10f"}
.px.px-ArrowsLeftRight:before{content:"\f115"}
.px.px-ArrowsLineUpDown:before{content:"\f116"}
.px.px-ArrowsUpDown:before{content:"\f117"}
.px.px-ArrowsUpDownLeftRight:before{content:"\f118"}
.px.px-ArrowUp:before{content:"\f110"}
.px.px-ArrowUpDown:before{content:"\f111"}
.px.px-ArrowUpLeft:before{content:"\f112"}
.px.px-ArrowUpRight:before{content:"\f113"}
.px.px-Article:before{content:"\f119"}
.px.px-Associate:before{content:"\f11a"}
.px.px-AutoCare:before{content:"\f11b"}
.px.px-Ban:before{content:"\f11c"}
.px.px-Bank:before{content:"\f11d"}
.px.px-Barcode:before{content:"\f121"}
.px.px-BarGraph:before{content:"\f11e"}
.px.px-BarGraphFill:before{content:"\f11f"}
.px.px-BarGraphThin:before{content:"\f120"}
.px.px-Bell:before{content:"\f122"}
.px.px-Bill:before{content:"\f123"}
.px.px-Bluetooth:before{content:"\f124"}
.px.px-BoldText:before{content:"\f125"}
.px.px-Bookmark:before{content:"\f128"}
.px.px-BookmarkFill:before{content:"\f129"}
.px.px-BookOpen:before{content:"\f126"}
.px.px-BookUser:before{content:"\f127"}
.px.px-BottleEach:before{content:"\f12a"}
.px.px-BowlWhisk:before{content:"\f12b"}
.px.px-Box:before{content:"\f12c"}
.px.px-BoxArrowDown:before{content:"\f12d"}
.px.px-BoxArrowUp:before{content:"\f12e"}
.px.px-BoxCorners:before{content:"\f12f"}
.px.px-BoxDocument:before{content:"\f130"}
.px.px-BoxDocumentFill:before{content:"\f131"}
.px.px-BoxOpenArrowDown:before{content:"\f132"}
.px.px-BoxShelves:before{content:"\f133"}
.px.px-BoxSpark:before{content:"\f134"}
.px.px-BoxSparkFill:before{content:"\f135"}
.px.px-Brackets:before{content:"\f136"}
.px.px-Brand:before{content:"\f137"}
.px.px-BubbleChart:before{content:"\f138"}
.px.px-BubbleChartFill:before{content:"\f139"}
.px.px-Bug:before{content:"\f13a"}
.px.px-Building:before{content:"\f13b"}
.px.px-Bulkhead:before{content:"\f13c"}
.px.px-Calendar:before{content:"\f13d"}
.px.px-CalendarMoney:before{content:"\f13e"}
.px.px-CalendarMoneyFill:before{content:"\f13f"}
.px.px-Camera:before{content:"\f140"}
.px.px-Car:before{content:"\f141"}
.px.px-Card:before{content:"\f142"}
.px.px-CardsHashtag:before{content:"\f144"}
.px.px-CardsStar:before{content:"\f145"}
.px.px-CardUser:before{content:"\f143"}
.px.px-CaretDown:before{content:"\f146"}
.px.px-CaretUp:before{content:"\f147"}
.px.px-Cart:before{content:"\f148"}
.px.px-CartArrow:before{content:"\f149"}
.px.px-CartFill:before{content:"\f14a"}
.px.px-ChartWaterfall:before{content:"\f14b"}
.px.px-Chat:before{content:"\f14c"}
.px.px-ChatBubbleSquare:before{content:"\f14d"}
.px.px-Check:before{content:"\f14e"}
.px.px-CheckCircle:before{content:"\f14f"}
.px.px-CheckCircleFill:before{content:"\f150"}
.px.px-ChevronDown:before{content:"\f151"}
.px.px-ChevronLeft:before{content:"\f152"}
.px.px-ChevronRight:before{content:"\f153"}
.px.px-ChevronUp:before{content:"\f154"}
.px.px-Circle:before{content:"\f155"}
.px.px-Clipboard:before{content:"\f156"}
.px.px-Clock:before{content:"\f157"}
.px.px-Close:before{content:"\f158"}
.px.px-CloseCircleFill:before{content:"\f159"}
.px.px-CloudDownload:before{content:"\f15a"}
.px.px-CloudUpload:before{content:"\f15b"}
.px.px-CloudUploadFill:before{content:"\f15c"}
.px.px-Code:before{content:"\f15d"}
.px.px-Columns:before{content:"\f15e"}
.px.px-Compose:before{content:"\f15f"}
.px.px-Copy:before{content:"\f160"}
.px.px-Coupon:before{content:"\f161"}
.px.px-CreditCard:before{content:"\f162"}
.px.px-CreditCardFill:before{content:"\f163"}
.px.px-Croissant:before{content:"\f164"}
.px.px-Crop:before{content:"\f165"}
.px.px-Crosshairs:before{content:"\f166"}
.px.px-Currency:before{content:"\f167"}
.px.px-CurrentLocation:before{content:"\f168"}
.px.px-DockDoor:before{content:"\f169"}
.px.px-DocumentCorner:before{content:"\f16a"}
.px.px-DocumentExclamation:before{content:"\f16b"}
.px.px-Dollar:before{content:"\f16c"}
.px.px-DollarCircle:before{content:"\f16d"}
.px.px-DollarCircleFill:before{content:"\f16e"}
.px.px-DonutChart:before{content:"\f16f"}
.px.px-Download:before{content:"\f170"}
.px.px-Drag:before{content:"\f171"}
.px.px-Dropper:before{content:"\f172"}
.px.px-Email:before{content:"\f173"}
.px.px-EmailFill:before{content:"\f174"}
.px.px-EmailSpamMobile:before{content:"\f175"}
.px.px-EvChargingStation:before{content:"\f176"}
.px.px-ExclamationCircle:before{content:"\f177"}
.px.px-ExclamationCircleFill:before{content:"\f178"}
.px.px-Eye:before{content:"\f179"}
.px.px-EyeSlash:before{content:"\f17a"}
.px.px-Facility:before{content:"\f17b"}
.px.px-FacilityFill:before{content:"\f17c"}
.px.px-Factory:before{content:"\f17d"}
.px.px-FactoryFill:before{content:"\f17e"}
.px.px-FedexBox:before{content:"\f17f"}
.px.px-Filter:before{content:"\f180"}
.px.px-Flag:before{content:"\f181"}
.px.px-FlagFill:before{content:"\f182"}
.px.px-FlagStrike:before{content:"\f183"}
.px.px-Flames:before{content:"\f184"}
.px.px-Flash:before{content:"\f185"}
.px.px-FlashFill:before{content:"\f186"}
.px.px-FlashSlash:before{content:"\f187"}
.px.px-FloppyDisk:before{content:"\f188"}
.px.px-Flow:before{content:"\f189"}
.px.px-FlowFill:before{content:"\f18a"}
.px.px-Folder:before{content:"\f18b"}
.px.px-Folders:before{content:"\f18c"}
.px.px-Forklift:before{content:"\f18d"}
.px.px-FruitCarton:before{content:"\f18e"}
.px.px-FruitEach:before{content:"\f18f"}
.px.px-FuelPump:before{content:"\f190"}
.px.px-Gear:before{content:"\f191"}
.px.px-GearFill:before{content:"\f192"}
.px.px-Gift:before{content:"\f193"}
.px.px-GiftFill:before{content:"\f194"}
.px.px-Globe:before{content:"\f195"}
.px.px-Grid:before{content:"\f196"}
.px.px-GridFill:before{content:"\f197"}
.px.px-GridMasonry:before{content:"\f198"}
.px.px-Headphones:before{content:"\f199"}
.px.px-Headset:before{content:"\f19a"}
.px.px-Heart:before{content:"\f19b"}
.px.px-HeartFill:before{content:"\f19c"}
.px.px-Hide:before{content:"\f19d"}
.px.px-History:before{content:"\f19e"}
.px.px-Home:before{content:"\f19f"}
.px.px-HomeFill:before{content:"\f1a0"}
.px.px-Hourglass:before{content:"\f1a1"}
.px.px-HouseMoney:before{content:"\f1a2"}
.px.px-IdCard:before{content:"\f1a3"}
.px.px-Image:before{content:"\f1a4"}
.px.px-ImageFill:before{content:"\f1a5"}
.px.px-Incognito:before{content:"\f1a6"}
.px.px-InfoCircle:before{content:"\f1a7"}
.px.px-InfoCircleFill:before{content:"\f1a8"}
.px.px-ItalicText:before{content:"\f1a9"}
.px.px-Keyboard:before{content:"\f1aa"}
.px.px-LanguageSettings:before{content:"\f1ab"}
.px.px-LanguageSettingsFill:before{content:"\f1ac"}
.px.px-Layer:before{content:"\f1ad"}
.px.px-LayerFill:before{content:"\f1ae"}
.px.px-Layers:before{content:"\f1af"}
.px.px-LayersFill:before{content:"\f1b0"}
.px.px-LightBulb:before{content:"\f1b1"}
.px.px-LineGraph:before{content:"\f1b2"}
.px.px-LineGraphBar:before{content:"\f1b3"}
.px.px-LineGraphBarsFill:before{content:"\f1b4"}
.px.px-LineGraphBarsHistory:before{content:"\f1b5"}
.px.px-LineGraphBarsHistoryFill:before{content:"\f1b6"}
.px.px-LineGraphXy:before{content:"\f1b7"}
.px.px-Link:before{content:"\f1b8"}
.px.px-LinkExternal:before{content:"\f1b9"}
.px.px-List:before{content:"\f1ba"}
.px.px-ListBox:before{content:"\f1bb"}
.px.px-ListBoxFill:before{content:"\f1bc"}
.px.px-Location:before{content:"\f1bd"}
.px.px-Lock:before{content:"\f1be"}
.px.px-LockOpen:before{content:"\f1bf"}
.px.px-Loop:before{content:"\f1c0"}
.px.px-Magic:before{content:"\f1c1"}
.px.px-MagicFill:before{content:"\f1c2"}
.px.px-Map:before{content:"\f1c3"}
.px.px-MapFill:before{content:"\f1c4"}
.px.px-MapRoute:before{content:"\f1c5"}
.px.px-MapRouteFill:before{content:"\f1c6"}
.px.px-Maximize:before{content:"\f1c7"}
.px.px-Medal:before{content:"\f1c8"}
.px.px-Megaphone:before{content:"\f1c9"}
.px.px-MegaphoneFill:before{content:"\f1ca"}
.px.px-Menu:before{content:"\f1cb"}
.px.px-Microphone:before{content:"\f1cc"}
.px.px-MicrophoneSlash:before{content:"\f1cd"}
.px.px-Minimize:before{content:"\f1ce"}
.px.px-Minus:before{content:"\f1cf"}
.px.px-Mobile:before{content:"\f1d0"}
.px.px-MoneyArrowLeft:before{content:"\f1d1"}
.px.px-MoneyArrowRight:before{content:"\f1d2"}
.px.px-More:before{content:"\f1d3"}
.px.px-MoreAlt:before{content:"\f1d4"}
.px.px-MoreVertical:before{content:"\f1d5"}
.px.px-Mortarboard:before{content:"\f1d6"}
.px.px-Note:before{content:"\f1d7"}
.px.px-Notebook:before{content:"\f1d8"}
.px.px-NumberList:before{content:"\f1d9"}
.px.px-OceanFreight:before{content:"\f1da"}
.px.px-PalletBoxes:before{content:"\f1db"}
.px.px-Panel:before{content:"\f1dc"}
.px.px-PanelBottom:before{content:"\f1dd"}
.px.px-PanelBottomFill:before{content:"\f1de"}
.px.px-PanelLeft:before{content:"\f1df"}
.px.px-PanelLeftFill:before{content:"\f1e0"}
.px.px-PanelRight:before{content:"\f1e1"}
.px.px-PanelRightFill:before{content:"\f1e2"}
.px.px-PanelVerticalHalf:before{content:"\f1e3"}
.px.px-Paperclip:before{content:"\f1e4"}
.px.px-Pause:before{content:"\f1e5"}
.px.px-Pencil:before{content:"\f1e6"}
.px.px-PencilBox:before{content:"\f1e7"}
.px.px-PencilFill:before{content:"\f1e8"}
.px.px-Pharmacy:before{content:"\f1e9"}
.px.px-Phone:before{content:"\f1ea"}
.px.px-PieChart:before{content:"\f1eb"}
.px.px-PieChartFill:before{content:"\f1ec"}
.px.px-Pin:before{content:"\f1ed"}
.px.px-PinFill:before{content:"\f1ee"}
.px.px-PinLine:before{content:"\f1ef"}
.px.px-Pizza:before{content:"\f1f0"}
.px.px-Play:before{content:"\f1f1"}
.px.px-PlayFill:before{content:"\f1f2"}
.px.px-Plus:before{content:"\f1f3"}
.px.px-PlusCircle:before{content:"\f1f4"}
.px.px-PositionRight:before{content:"\f1f5"}
.px.px-PositionTopRight:before{content:"\f1f6"}
.px.px-Printer:before{content:"\f1f7"}
.px.px-ProSellerStamp:before{content:"\f1f8"}
.px.px-QrCode:before{content:"\f1f9"}
.px.px-QuestionCircle:before{content:"\f1fa"}
.px.px-Receipt:before{content:"\f1fb"}
.px.px-ReceiptPercent:before{content:"\f1fc"}
.px.px-ReceiptPercentFill:before{content:"\f1fd"}
.px.px-Refresh:before{content:"\f1fe"}
.px.px-Restroom:before{content:"\f1ff"}
.px.px-Returns:before{content:"\f200"}
.px.px-Rocket:before{content:"\f201"}
.px.px-RocketFill:before{content:"\f202"}
.px.px-Rotate:before{content:"\f203"}
.px.px-RowAdd:before{content:"\f204"}
.px.px-RulerArrow:before{content:"\f205"}
.px.px-RulerArrowFill:before{content:"\f206"}
.px.px-Scale:before{content:"\f207"}
.px.px-ScanDocument:before{content:"\f208"}
.px.px-ScatterChart:before{content:"\f209"}
.px.px-Search:before{content:"\f20a"}
.px.px-Services:before{content:"\f20b"}
.px.px-ServicesFill:before{content:"\f20c"}
.px.px-Share:before{content:"\f20d"}
.px.px-ShareAndroid:before{content:"\f20e"}
.px.px-ShareAndroidFill:before{content:"\f20f"}
.px.px-ShieldCheck:before{content:"\f210"}
.px.px-ShieldCheckFill:before{content:"\f211"}
.px.px-Shirt:before{content:"\f212"}
.px.px-Show:before{content:"\f213"}
.px.px-Shuffle:before{content:"\f214"}
.px.px-SignIn:before{content:"\f215"}
.px.px-SignOut:before{content:"\f216"}
.px.px-Sliders:before{content:"\f217"}
.px.px-Snooze:before{content:"\f218"}
.px.px-SortDown:before{content:"\f219"}
.px.px-SortingArrows:before{content:"\f21b"}
.px.px-SortUp:before{content:"\f21a"}
.px.px-Sound:before{content:"\f21c"}
.px.px-Speaker:before{content:"\f21d"}
.px.px-SpeakerSlash:before{content:"\f21e"}
.px.px-Speedometer:before{content:"\f21f"}
.px.px-SpeedometerFill:before{content:"\f220"}
.px.px-Star:before{content:"\f221"}
.px.px-StarFill:before{content:"\f222"}
.px.px-StarHalf:before{content:"\f223"}
.px.px-Store:before{content:"\f224"}
.px.px-StoreAwning:before{content:"\f225"}
.px.px-StoreAwningFill:before{content:"\f226"}
.px.px-StoreClock:before{content:"\f227"}
.px.px-StoreFill:before{content:"\f228"}
.px.px-StoreLocation:before{content:"\f229"}
.px.px-StoreMap:before{content:"\f22a"}
.px.px-StoreMode:before{content:"\f22b"}
.px.px-Suitcase:before{content:"\f22c"}
.px.px-SuitcaseFill:before{content:"\f22d"}
.px.px-Table:before{content:"\f22e"}
.px.px-TableArrow:before{content:"\f22f"}
.px.px-Tag:before{content:"\f230"}
.px.px-TagFill:before{content:"\f231"}
.px.px-TargetArrow:before{content:"\f232"}
.px.px-TargetArrowFill:before{content:"\f233"}
.px.px-Terminal:before{content:"\f234"}
.px.px-ThreeDBoxArrows:before{content:"\f235"}
.px.px-ThumbDown:before{content:"\f236"}
.px.px-ThumbDownFill:before{content:"\f237"}
.px.px-ThumbUp:before{content:"\f238"}
.px.px-ThumbUpFill:before{content:"\f239"}
.px.px-Toolbox:before{content:"\f23a"}
.px.px-ToolboxFill:before{content:"\f23b"}
.px.px-Trademark:before{content:"\f23c"}
.px.px-TrademarkFill:before{content:"\f23d"}
.px.px-Trailer:before{content:"\f23e"}
.px.px-TrailerArrowRight:before{content:"\f23f"}
.px.px-TrailerDoor:before{content:"\f240"}
.px.px-Trash:before{content:"\f241"}
.px.px-Trophy:before{content:"\f242"}
.px.px-Truck:before{content:"\f243"}
.px.px-Tv:before{content:"\f244"}
.px.px-Undo:before{content:"\f245"}
.px.px-Unlink:before{content:"\f246"}
.px.px-UpcLabel:before{content:"\f247"}
.px.px-UpcLabelCancel:before{content:"\f248"}
.px.px-User:before{content:"\f249"}
.px.px-UserBook:before{content:"\f24a"}
.px.px-UserCircle:before{content:"\f24b"}
.px.px-UserCircleFill:before{content:"\f24c"}
.px.px-UserGraph:before{content:"\f24d"}
.px.px-UserPlus:before{content:"\f24e"}
.px.px-Users:before{content:"\f24f"}
.px.px-UsersArrows:before{content:"\f250"}
.px.px-UsersFill:before{content:"\f251"}
.px.px-Video:before{content:"\f252"}
.px.px-VideoArrowUp:before{content:"\f253"}
.px.px-VideoArrowUpFill:before{content:"\f254"}
.px.px-VoiceSearch:before{content:"\f255"}
.px.px-Wallet:before{content:"\f256"}
.px.px-Warning:before{content:"\f257"}
.px.px-WarningFill:before{content:"\f258"}
.px.px-Wifi:before{content:"\f259"}
.px.px-WifiSlash:before{content:"\f25a"}
.px.px-Wrench:before{content:"\f25b"}
.px.px-Write:before{content:"\f25c"}
.px.px-ZoomIn:before{content:"\f25d"}
.px.px-ZoomOut:before{content:"\f25e"}
