/* Gibson */

@font-face {
  font-display: swap;
  font-family: 'Gibson';
  font-weight: 400;
  src: url('./Gibson-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Gibson';
  font-weight: 600;
  src: url('./Gibson-600.woff2') format('woff2');
}
