/* PX Sam's Club Icon Font */

@font-face {
  font-display: swap;
  font-family: 'PXSamsClubIcons';
  font-style: normal;
  src: url('./PXSamsClub.woff2') format('woff2');
}

.pxsc {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 PXSamsClubIcons;
  font-size: inherit;
}

/* 350 icon glyphs */
.pxsc.pxsc-AddFolder:before{content:"\f101"}
.pxsc.pxsc-AddFolders:before{content:"\f102"}
.pxsc.pxsc-Airplane:before{content:"\f103"}
.pxsc.pxsc-AppSwitcher:before{content:"\f104"}
.pxsc.pxsc-ArrowCircleDot:before{content:"\f105"}
.pxsc.pxsc-ArrowCircleLeft:before{content:"\f106"}
.pxsc.pxsc-ArrowCircleRight:before{content:"\f107"}
.pxsc.pxsc-ArrowDown:before{content:"\f108"}
.pxsc.pxsc-ArrowDownMoney:before{content:"\f109"}
.pxsc.pxsc-ArrowLeft:before{content:"\f10a"}
.pxsc.pxsc-ArrowLineLeft:before{content:"\f10b"}
.pxsc.pxsc-ArrowLineRight:before{content:"\f10c"}
.pxsc.pxsc-ArrowMobileUpLeft:before{content:"\f10d"}
.pxsc.pxsc-ArrowRight:before{content:"\f10e"}
.pxsc.pxsc-ArrowsCurveLeftRight:before{content:"\f114"}
.pxsc.pxsc-ArrowSelect:before{content:"\f10f"}
.pxsc.pxsc-ArrowsLeftRight:before{content:"\f115"}
.pxsc.pxsc-ArrowsLineUpDown:before{content:"\f116"}
.pxsc.pxsc-ArrowsUpDown:before{content:"\f117"}
.pxsc.pxsc-ArrowsUpDownLeftRight:before{content:"\f118"}
.pxsc.pxsc-ArrowUp:before{content:"\f110"}
.pxsc.pxsc-ArrowUpDown:before{content:"\f111"}
.pxsc.pxsc-ArrowUpLeft:before{content:"\f112"}
.pxsc.pxsc-ArrowUpRight:before{content:"\f113"}
.pxsc.pxsc-Article:before{content:"\f119"}
.pxsc.pxsc-Associate:before{content:"\f11a"}
.pxsc.pxsc-AutoCare:before{content:"\f11b"}
.pxsc.pxsc-Ban:before{content:"\f11c"}
.pxsc.pxsc-Bank:before{content:"\f11d"}
.pxsc.pxsc-Barcode:before{content:"\f121"}
.pxsc.pxsc-BarGraph:before{content:"\f11e"}
.pxsc.pxsc-BarGraphFill:before{content:"\f11f"}
.pxsc.pxsc-BarGraphThin:before{content:"\f120"}
.pxsc.pxsc-Bell:before{content:"\f122"}
.pxsc.pxsc-Bill:before{content:"\f123"}
.pxsc.pxsc-Bluetooth:before{content:"\f124"}
.pxsc.pxsc-BoldText:before{content:"\f125"}
.pxsc.pxsc-Bookmark:before{content:"\f128"}
.pxsc.pxsc-BookmarkFill:before{content:"\f129"}
.pxsc.pxsc-BookOpen:before{content:"\f126"}
.pxsc.pxsc-BookUser:before{content:"\f127"}
.pxsc.pxsc-BottleEach:before{content:"\f12a"}
.pxsc.pxsc-BowlWhisk:before{content:"\f12b"}
.pxsc.pxsc-Box:before{content:"\f12c"}
.pxsc.pxsc-BoxArrowDown:before{content:"\f12d"}
.pxsc.pxsc-BoxArrowUp:before{content:"\f12e"}
.pxsc.pxsc-BoxCorners:before{content:"\f12f"}
.pxsc.pxsc-BoxDocument:before{content:"\f130"}
.pxsc.pxsc-BoxDocumentFill:before{content:"\f131"}
.pxsc.pxsc-BoxOpenArrowDown:before{content:"\f132"}
.pxsc.pxsc-BoxShelves:before{content:"\f133"}
.pxsc.pxsc-BoxSpark:before{content:"\f134"}
.pxsc.pxsc-BoxSparkFill:before{content:"\f135"}
.pxsc.pxsc-Brackets:before{content:"\f136"}
.pxsc.pxsc-Brand:before{content:"\f137"}
.pxsc.pxsc-BubbleChart:before{content:"\f138"}
.pxsc.pxsc-BubbleChartFill:before{content:"\f139"}
.pxsc.pxsc-Bug:before{content:"\f13a"}
.pxsc.pxsc-Building:before{content:"\f13b"}
.pxsc.pxsc-Bulkhead:before{content:"\f13c"}
.pxsc.pxsc-Calendar:before{content:"\f13d"}
.pxsc.pxsc-CalendarMoney:before{content:"\f13e"}
.pxsc.pxsc-CalendarMoneyFill:before{content:"\f13f"}
.pxsc.pxsc-Camera:before{content:"\f140"}
.pxsc.pxsc-Car:before{content:"\f141"}
.pxsc.pxsc-Card:before{content:"\f142"}
.pxsc.pxsc-CardsHashtag:before{content:"\f144"}
.pxsc.pxsc-CardsStar:before{content:"\f145"}
.pxsc.pxsc-CardUser:before{content:"\f143"}
.pxsc.pxsc-CaretDown:before{content:"\f146"}
.pxsc.pxsc-CaretUp:before{content:"\f147"}
.pxsc.pxsc-Cart:before{content:"\f148"}
.pxsc.pxsc-CartArrow:before{content:"\f149"}
.pxsc.pxsc-CartFill:before{content:"\f14a"}
.pxsc.pxsc-ChartWaterfall:before{content:"\f14b"}
.pxsc.pxsc-Chat:before{content:"\f14c"}
.pxsc.pxsc-ChatBubbleSquare:before{content:"\f14d"}
.pxsc.pxsc-Check:before{content:"\f14e"}
.pxsc.pxsc-CheckCircle:before{content:"\f14f"}
.pxsc.pxsc-CheckCircleFill:before{content:"\f150"}
.pxsc.pxsc-ChevronDown:before{content:"\f151"}
.pxsc.pxsc-ChevronLeft:before{content:"\f152"}
.pxsc.pxsc-ChevronRight:before{content:"\f153"}
.pxsc.pxsc-ChevronUp:before{content:"\f154"}
.pxsc.pxsc-Circle:before{content:"\f155"}
.pxsc.pxsc-Clipboard:before{content:"\f156"}
.pxsc.pxsc-Clock:before{content:"\f157"}
.pxsc.pxsc-Close:before{content:"\f158"}
.pxsc.pxsc-CloseCircleFill:before{content:"\f159"}
.pxsc.pxsc-CloudDownload:before{content:"\f15a"}
.pxsc.pxsc-CloudUpload:before{content:"\f15b"}
.pxsc.pxsc-CloudUploadFill:before{content:"\f15c"}
.pxsc.pxsc-Code:before{content:"\f15d"}
.pxsc.pxsc-Columns:before{content:"\f15e"}
.pxsc.pxsc-Compose:before{content:"\f15f"}
.pxsc.pxsc-Copy:before{content:"\f160"}
.pxsc.pxsc-Coupon:before{content:"\f161"}
.pxsc.pxsc-CreditCard:before{content:"\f162"}
.pxsc.pxsc-CreditCardFill:before{content:"\f163"}
.pxsc.pxsc-Croissant:before{content:"\f164"}
.pxsc.pxsc-Crop:before{content:"\f165"}
.pxsc.pxsc-Crosshairs:before{content:"\f166"}
.pxsc.pxsc-Currency:before{content:"\f167"}
.pxsc.pxsc-CurrentLocation:before{content:"\f168"}
.pxsc.pxsc-DockDoor:before{content:"\f169"}
.pxsc.pxsc-DocumentCorner:before{content:"\f16a"}
.pxsc.pxsc-DocumentExclamation:before{content:"\f16b"}
.pxsc.pxsc-Dollar:before{content:"\f16c"}
.pxsc.pxsc-DollarCircle:before{content:"\f16d"}
.pxsc.pxsc-DollarCircleFill:before{content:"\f16e"}
.pxsc.pxsc-DonutChart:before{content:"\f16f"}
.pxsc.pxsc-Download:before{content:"\f170"}
.pxsc.pxsc-Drag:before{content:"\f171"}
.pxsc.pxsc-Dropper:before{content:"\f172"}
.pxsc.pxsc-Email:before{content:"\f173"}
.pxsc.pxsc-EmailFill:before{content:"\f174"}
.pxsc.pxsc-EmailSpamMobile:before{content:"\f175"}
.pxsc.pxsc-EvChargingStation:before{content:"\f176"}
.pxsc.pxsc-ExclamationCircle:before{content:"\f177"}
.pxsc.pxsc-ExclamationCircleFill:before{content:"\f178"}
.pxsc.pxsc-Eye:before{content:"\f179"}
.pxsc.pxsc-EyeSlash:before{content:"\f17a"}
.pxsc.pxsc-Facility:before{content:"\f17b"}
.pxsc.pxsc-FacilityFill:before{content:"\f17c"}
.pxsc.pxsc-Factory:before{content:"\f17d"}
.pxsc.pxsc-FactoryFill:before{content:"\f17e"}
.pxsc.pxsc-FedexBox:before{content:"\f17f"}
.pxsc.pxsc-Filter:before{content:"\f180"}
.pxsc.pxsc-Flag:before{content:"\f181"}
.pxsc.pxsc-FlagFill:before{content:"\f182"}
.pxsc.pxsc-FlagStrike:before{content:"\f183"}
.pxsc.pxsc-Flames:before{content:"\f184"}
.pxsc.pxsc-Flash:before{content:"\f185"}
.pxsc.pxsc-FlashFill:before{content:"\f186"}
.pxsc.pxsc-FlashSlash:before{content:"\f187"}
.pxsc.pxsc-FloppyDisk:before{content:"\f188"}
.pxsc.pxsc-Flow:before{content:"\f189"}
.pxsc.pxsc-FlowFill:before{content:"\f18a"}
.pxsc.pxsc-Folder:before{content:"\f18b"}
.pxsc.pxsc-Folders:before{content:"\f18c"}
.pxsc.pxsc-Forklift:before{content:"\f18d"}
.pxsc.pxsc-FruitCarton:before{content:"\f18e"}
.pxsc.pxsc-FruitEach:before{content:"\f18f"}
.pxsc.pxsc-FuelPump:before{content:"\f190"}
.pxsc.pxsc-Gear:before{content:"\f191"}
.pxsc.pxsc-GearFill:before{content:"\f192"}
.pxsc.pxsc-Gift:before{content:"\f193"}
.pxsc.pxsc-GiftFill:before{content:"\f194"}
.pxsc.pxsc-Globe:before{content:"\f195"}
.pxsc.pxsc-Grid:before{content:"\f196"}
.pxsc.pxsc-GridFill:before{content:"\f197"}
.pxsc.pxsc-GridMasonry:before{content:"\f198"}
.pxsc.pxsc-Headphones:before{content:"\f199"}
.pxsc.pxsc-Headset:before{content:"\f19a"}
.pxsc.pxsc-Heart:before{content:"\f19b"}
.pxsc.pxsc-HeartFill:before{content:"\f19c"}
.pxsc.pxsc-Hide:before{content:"\f19d"}
.pxsc.pxsc-History:before{content:"\f19e"}
.pxsc.pxsc-Home:before{content:"\f19f"}
.pxsc.pxsc-HomeFill:before{content:"\f1a0"}
.pxsc.pxsc-Hourglass:before{content:"\f1a1"}
.pxsc.pxsc-HouseMoney:before{content:"\f1a2"}
.pxsc.pxsc-IdCard:before{content:"\f1a3"}
.pxsc.pxsc-Image:before{content:"\f1a4"}
.pxsc.pxsc-ImageFill:before{content:"\f1a5"}
.pxsc.pxsc-Incognito:before{content:"\f1a6"}
.pxsc.pxsc-InfoCircle:before{content:"\f1a7"}
.pxsc.pxsc-InfoCircleFill:before{content:"\f1a8"}
.pxsc.pxsc-ItalicText:before{content:"\f1a9"}
.pxsc.pxsc-Keyboard:before{content:"\f1aa"}
.pxsc.pxsc-LanguageSettings:before{content:"\f1ab"}
.pxsc.pxsc-LanguageSettingsFill:before{content:"\f1ac"}
.pxsc.pxsc-Layer:before{content:"\f1ad"}
.pxsc.pxsc-LayerFill:before{content:"\f1ae"}
.pxsc.pxsc-Layers:before{content:"\f1af"}
.pxsc.pxsc-LayersFill:before{content:"\f1b0"}
.pxsc.pxsc-LightBulb:before{content:"\f1b1"}
.pxsc.pxsc-LineGraph:before{content:"\f1b2"}
.pxsc.pxsc-LineGraphBar:before{content:"\f1b3"}
.pxsc.pxsc-LineGraphBarsFill:before{content:"\f1b4"}
.pxsc.pxsc-LineGraphBarsHistory:before{content:"\f1b5"}
.pxsc.pxsc-LineGraphBarsHistoryFill:before{content:"\f1b6"}
.pxsc.pxsc-LineGraphXy:before{content:"\f1b7"}
.pxsc.pxsc-Link:before{content:"\f1b8"}
.pxsc.pxsc-LinkExternal:before{content:"\f1b9"}
.pxsc.pxsc-List:before{content:"\f1ba"}
.pxsc.pxsc-ListBox:before{content:"\f1bb"}
.pxsc.pxsc-ListBoxFill:before{content:"\f1bc"}
.pxsc.pxsc-Location:before{content:"\f1bd"}
.pxsc.pxsc-Lock:before{content:"\f1be"}
.pxsc.pxsc-LockOpen:before{content:"\f1bf"}
.pxsc.pxsc-Loop:before{content:"\f1c0"}
.pxsc.pxsc-Magic:before{content:"\f1c1"}
.pxsc.pxsc-MagicFill:before{content:"\f1c2"}
.pxsc.pxsc-Map:before{content:"\f1c3"}
.pxsc.pxsc-MapFill:before{content:"\f1c4"}
.pxsc.pxsc-MapRoute:before{content:"\f1c5"}
.pxsc.pxsc-MapRouteFill:before{content:"\f1c6"}
.pxsc.pxsc-Maximize:before{content:"\f1c7"}
.pxsc.pxsc-Medal:before{content:"\f1c8"}
.pxsc.pxsc-Megaphone:before{content:"\f1c9"}
.pxsc.pxsc-MegaphoneFill:before{content:"\f1ca"}
.pxsc.pxsc-Menu:before{content:"\f1cb"}
.pxsc.pxsc-Microphone:before{content:"\f1cc"}
.pxsc.pxsc-MicrophoneSlash:before{content:"\f1cd"}
.pxsc.pxsc-Minimize:before{content:"\f1ce"}
.pxsc.pxsc-Minus:before{content:"\f1cf"}
.pxsc.pxsc-Mobile:before{content:"\f1d0"}
.pxsc.pxsc-MoneyArrowLeft:before{content:"\f1d1"}
.pxsc.pxsc-MoneyArrowRight:before{content:"\f1d2"}
.pxsc.pxsc-More:before{content:"\f1d3"}
.pxsc.pxsc-MoreAlt:before{content:"\f1d4"}
.pxsc.pxsc-MoreVertical:before{content:"\f1d5"}
.pxsc.pxsc-Mortarboard:before{content:"\f1d6"}
.pxsc.pxsc-Note:before{content:"\f1d7"}
.pxsc.pxsc-Notebook:before{content:"\f1d8"}
.pxsc.pxsc-NumberList:before{content:"\f1d9"}
.pxsc.pxsc-OceanFreight:before{content:"\f1da"}
.pxsc.pxsc-PalletBoxes:before{content:"\f1db"}
.pxsc.pxsc-Panel:before{content:"\f1dc"}
.pxsc.pxsc-PanelBottom:before{content:"\f1dd"}
.pxsc.pxsc-PanelBottomFill:before{content:"\f1de"}
.pxsc.pxsc-PanelLeft:before{content:"\f1df"}
.pxsc.pxsc-PanelLeftFill:before{content:"\f1e0"}
.pxsc.pxsc-PanelRight:before{content:"\f1e1"}
.pxsc.pxsc-PanelRightFill:before{content:"\f1e2"}
.pxsc.pxsc-PanelVerticalHalf:before{content:"\f1e3"}
.pxsc.pxsc-Paperclip:before{content:"\f1e4"}
.pxsc.pxsc-Pause:before{content:"\f1e5"}
.pxsc.pxsc-Pencil:before{content:"\f1e6"}
.pxsc.pxsc-PencilBox:before{content:"\f1e7"}
.pxsc.pxsc-PencilFill:before{content:"\f1e8"}
.pxsc.pxsc-Pharmacy:before{content:"\f1e9"}
.pxsc.pxsc-Phone:before{content:"\f1ea"}
.pxsc.pxsc-PieChart:before{content:"\f1eb"}
.pxsc.pxsc-PieChartFill:before{content:"\f1ec"}
.pxsc.pxsc-Pin:before{content:"\f1ed"}
.pxsc.pxsc-PinFill:before{content:"\f1ee"}
.pxsc.pxsc-PinLine:before{content:"\f1ef"}
.pxsc.pxsc-Pizza:before{content:"\f1f0"}
.pxsc.pxsc-Play:before{content:"\f1f1"}
.pxsc.pxsc-PlayFill:before{content:"\f1f2"}
.pxsc.pxsc-Plus:before{content:"\f1f3"}
.pxsc.pxsc-PlusCircle:before{content:"\f1f4"}
.pxsc.pxsc-PositionRight:before{content:"\f1f5"}
.pxsc.pxsc-PositionTopRight:before{content:"\f1f6"}
.pxsc.pxsc-Printer:before{content:"\f1f7"}
.pxsc.pxsc-ProSellerStamp:before{content:"\f1f8"}
.pxsc.pxsc-QrCode:before{content:"\f1f9"}
.pxsc.pxsc-QuestionCircle:before{content:"\f1fa"}
.pxsc.pxsc-Receipt:before{content:"\f1fb"}
.pxsc.pxsc-ReceiptPercent:before{content:"\f1fc"}
.pxsc.pxsc-ReceiptPercentFill:before{content:"\f1fd"}
.pxsc.pxsc-Refresh:before{content:"\f1fe"}
.pxsc.pxsc-Restroom:before{content:"\f1ff"}
.pxsc.pxsc-Returns:before{content:"\f200"}
.pxsc.pxsc-Rocket:before{content:"\f201"}
.pxsc.pxsc-RocketFill:before{content:"\f202"}
.pxsc.pxsc-Rotate:before{content:"\f203"}
.pxsc.pxsc-RowAdd:before{content:"\f204"}
.pxsc.pxsc-RulerArrow:before{content:"\f205"}
.pxsc.pxsc-RulerArrowFill:before{content:"\f206"}
.pxsc.pxsc-Scale:before{content:"\f207"}
.pxsc.pxsc-ScanDocument:before{content:"\f208"}
.pxsc.pxsc-ScatterChart:before{content:"\f209"}
.pxsc.pxsc-Search:before{content:"\f20a"}
.pxsc.pxsc-Services:before{content:"\f20b"}
.pxsc.pxsc-ServicesFill:before{content:"\f20c"}
.pxsc.pxsc-Share:before{content:"\f20d"}
.pxsc.pxsc-ShareAndroid:before{content:"\f20e"}
.pxsc.pxsc-ShareAndroidFill:before{content:"\f20f"}
.pxsc.pxsc-ShieldCheck:before{content:"\f210"}
.pxsc.pxsc-ShieldCheckFill:before{content:"\f211"}
.pxsc.pxsc-Shirt:before{content:"\f212"}
.pxsc.pxsc-Show:before{content:"\f213"}
.pxsc.pxsc-Shuffle:before{content:"\f214"}
.pxsc.pxsc-SignIn:before{content:"\f215"}
.pxsc.pxsc-SignOut:before{content:"\f216"}
.pxsc.pxsc-Sliders:before{content:"\f217"}
.pxsc.pxsc-Snooze:before{content:"\f218"}
.pxsc.pxsc-SortDown:before{content:"\f219"}
.pxsc.pxsc-SortingArrows:before{content:"\f21b"}
.pxsc.pxsc-SortUp:before{content:"\f21a"}
.pxsc.pxsc-Sound:before{content:"\f21c"}
.pxsc.pxsc-Speaker:before{content:"\f21d"}
.pxsc.pxsc-SpeakerSlash:before{content:"\f21e"}
.pxsc.pxsc-Speedometer:before{content:"\f21f"}
.pxsc.pxsc-SpeedometerFill:before{content:"\f220"}
.pxsc.pxsc-Star:before{content:"\f221"}
.pxsc.pxsc-StarFill:before{content:"\f222"}
.pxsc.pxsc-StarHalf:before{content:"\f223"}
.pxsc.pxsc-Store:before{content:"\f224"}
.pxsc.pxsc-StoreAwning:before{content:"\f225"}
.pxsc.pxsc-StoreAwningFill:before{content:"\f226"}
.pxsc.pxsc-StoreClock:before{content:"\f227"}
.pxsc.pxsc-StoreFill:before{content:"\f228"}
.pxsc.pxsc-StoreLocation:before{content:"\f229"}
.pxsc.pxsc-StoreMap:before{content:"\f22a"}
.pxsc.pxsc-StoreMode:before{content:"\f22b"}
.pxsc.pxsc-Suitcase:before{content:"\f22c"}
.pxsc.pxsc-SuitcaseFill:before{content:"\f22d"}
.pxsc.pxsc-Table:before{content:"\f22e"}
.pxsc.pxsc-TableArrow:before{content:"\f22f"}
.pxsc.pxsc-Tag:before{content:"\f230"}
.pxsc.pxsc-TagFill:before{content:"\f231"}
.pxsc.pxsc-TargetArrow:before{content:"\f232"}
.pxsc.pxsc-TargetArrowFill:before{content:"\f233"}
.pxsc.pxsc-Terminal:before{content:"\f234"}
.pxsc.pxsc-ThreeDBoxArrows:before{content:"\f235"}
.pxsc.pxsc-ThumbDown:before{content:"\f236"}
.pxsc.pxsc-ThumbDownFill:before{content:"\f237"}
.pxsc.pxsc-ThumbUp:before{content:"\f238"}
.pxsc.pxsc-ThumbUpFill:before{content:"\f239"}
.pxsc.pxsc-Toolbox:before{content:"\f23a"}
.pxsc.pxsc-ToolboxFill:before{content:"\f23b"}
.pxsc.pxsc-Trademark:before{content:"\f23c"}
.pxsc.pxsc-TrademarkFill:before{content:"\f23d"}
.pxsc.pxsc-Trailer:before{content:"\f23e"}
.pxsc.pxsc-TrailerArrowRight:before{content:"\f23f"}
.pxsc.pxsc-TrailerDoor:before{content:"\f240"}
.pxsc.pxsc-Trash:before{content:"\f241"}
.pxsc.pxsc-Trophy:before{content:"\f242"}
.pxsc.pxsc-Truck:before{content:"\f243"}
.pxsc.pxsc-Tv:before{content:"\f244"}
.pxsc.pxsc-Undo:before{content:"\f245"}
.pxsc.pxsc-Unlink:before{content:"\f246"}
.pxsc.pxsc-UpcLabel:before{content:"\f247"}
.pxsc.pxsc-UpcLabelCancel:before{content:"\f248"}
.pxsc.pxsc-User:before{content:"\f249"}
.pxsc.pxsc-UserBook:before{content:"\f24a"}
.pxsc.pxsc-UserCircle:before{content:"\f24b"}
.pxsc.pxsc-UserCircleFill:before{content:"\f24c"}
.pxsc.pxsc-UserGraph:before{content:"\f24d"}
.pxsc.pxsc-UserPlus:before{content:"\f24e"}
.pxsc.pxsc-Users:before{content:"\f24f"}
.pxsc.pxsc-UsersArrows:before{content:"\f250"}
.pxsc.pxsc-UsersFill:before{content:"\f251"}
.pxsc.pxsc-Video:before{content:"\f252"}
.pxsc.pxsc-VideoArrowUp:before{content:"\f253"}
.pxsc.pxsc-VideoArrowUpFill:before{content:"\f254"}
.pxsc.pxsc-VoiceSearch:before{content:"\f255"}
.pxsc.pxsc-Wallet:before{content:"\f256"}
.pxsc.pxsc-Warning:before{content:"\f257"}
.pxsc.pxsc-WarningFill:before{content:"\f258"}
.pxsc.pxsc-Wifi:before{content:"\f259"}
.pxsc.pxsc-WifiSlash:before{content:"\f25a"}
.pxsc.pxsc-Wrench:before{content:"\f25b"}
.pxsc.pxsc-Write:before{content:"\f25c"}
.pxsc.pxsc-ZoomIn:before{content:"\f25d"}
.pxsc.pxsc-ZoomOut:before{content:"\f25e"}
