/* AX Icon Font */

@font-face {
  font-display: swap;
  font-family: 'AXIcons';
  font-style: normal;
  src: url('./AX.woff2') format('woff2');
}

.ax {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: normal normal normal 16px/1 AXIcons;
  font-size: inherit;
}

/* 242 icon glyphs */
.ax.ax-AddFolder:before{content:"\f101"}
.ax.ax-AddFolders:before{content:"\f102"}
.ax.ax-Ar:before{content:"\f103"}
.ax.ax-ArFill:before{content:"\f104"}
.ax.ax-ArrowCircleLeft:before{content:"\f105"}
.ax.ax-ArrowCircleRight:before{content:"\f106"}
.ax.ax-ArrowDown:before{content:"\f107"}
.ax.ax-ArrowLeft:before{content:"\f108"}
.ax.ax-ArrowRight:before{content:"\f109"}
.ax.ax-ArrowSelect:before{content:"\f10a"}
.ax.ax-ArrowsLineUpDown:before{content:"\f10c"}
.ax.ax-ArrowUp:before{content:"\f10b"}
.ax.ax-Article:before{content:"\f10d"}
.ax.ax-ArucoMarker:before{content:"\f10e"}
.ax.ax-Associate:before{content:"\f10f"}
.ax.ax-AutoCare:before{content:"\f110"}
.ax.ax-Ban:before{content:"\f111"}
.ax.ax-Barcode:before{content:"\f112"}
.ax.ax-BatteryCharged:before{content:"\f113"}
.ax.ax-BatteryEmpty:before{content:"\f114"}
.ax.ax-BatteryFull:before{content:"\f115"}
.ax.ax-BatteryHalf:before{content:"\f116"}
.ax.ax-BatteryLow:before{content:"\f117"}
.ax.ax-Bell:before{content:"\f118"}
.ax.ax-BirthdayCake:before{content:"\f119"}
.ax.ax-Bluetooth:before{content:"\f11a"}
.ax.ax-Bookmark:before{content:"\f11b"}
.ax.ax-BookmarkFill:before{content:"\f11c"}
.ax.ax-Box:before{content:"\f11d"}
.ax.ax-Brand:before{content:"\f11e"}
.ax.ax-Briefcase:before{content:"\f11f"}
.ax.ax-Bug:before{content:"\f120"}
.ax.ax-Calendar:before{content:"\f121"}
.ax.ax-CalendarCancel:before{content:"\f122"}
.ax.ax-Camera:before{content:"\f123"}
.ax.ax-Car:before{content:"\f124"}
.ax.ax-Card:before{content:"\f125"}
.ax.ax-CaretDown:before{content:"\f126"}
.ax.ax-CaretRight:before{content:"\f127"}
.ax.ax-CaretUp:before{content:"\f128"}
.ax.ax-Cart:before{content:"\f129"}
.ax.ax-CartDrop:before{content:"\f12a"}
.ax.ax-CartFill:before{content:"\f12b"}
.ax.ax-Celebrate:before{content:"\f12c"}
.ax.ax-CellularDataSaver:before{content:"\f12d"}
.ax.ax-CellularDataSaverSlash:before{content:"\f12e"}
.ax.ax-Chat:before{content:"\f12f"}
.ax.ax-Check:before{content:"\f130"}
.ax.ax-CheckCircle:before{content:"\f131"}
.ax.ax-CheckCircleFill:before{content:"\f132"}
.ax.ax-ChevronDown:before{content:"\f133"}
.ax.ax-ChevronLeft:before{content:"\f134"}
.ax.ax-ChevronRight:before{content:"\f135"}
.ax.ax-ChevronUp:before{content:"\f136"}
.ax.ax-Clock:before{content:"\f137"}
.ax.ax-ClockIn:before{content:"\f138"}
.ax.ax-ClockOut:before{content:"\f139"}
.ax.ax-Close:before{content:"\f13a"}
.ax.ax-CloseCircleFill:before{content:"\f13b"}
.ax.ax-CloudDownload:before{content:"\f13c"}
.ax.ax-CloudUpload:before{content:"\f13d"}
.ax.ax-Code:before{content:"\f13e"}
.ax.ax-Copy:before{content:"\f13f"}
.ax.ax-CurrentLocation:before{content:"\f140"}
.ax.ax-Direction:before{content:"\f141"}
.ax.ax-DirectionFill:before{content:"\f142"}
.ax.ax-Dollar:before{content:"\f143"}
.ax.ax-DollarCircle:before{content:"\f144"}
.ax.ax-DollarCircleFill:before{content:"\f145"}
.ax.ax-Download:before{content:"\f146"}
.ax.ax-Email:before{content:"\f147"}
.ax.ax-EmailFill:before{content:"\f148"}
.ax.ax-ExclamationCircle:before{content:"\f149"}
.ax.ax-ExclamationCircleFill:before{content:"\f14a"}
.ax.ax-Eye:before{content:"\f14b"}
.ax.ax-EyeSlash:before{content:"\f14c"}
.ax.ax-Facility:before{content:"\f14d"}
.ax.ax-FacilityFill:before{content:"\f14e"}
.ax.ax-Filter:before{content:"\f14f"}
.ax.ax-Flag:before{content:"\f150"}
.ax.ax-FlagFill:before{content:"\f151"}
.ax.ax-Flash:before{content:"\f152"}
.ax.ax-FlashFill:before{content:"\f153"}
.ax.ax-FlashSlash:before{content:"\f154"}
.ax.ax-FloppyDisk:before{content:"\f155"}
.ax.ax-Folder:before{content:"\f156"}
.ax.ax-Folders:before{content:"\f157"}
.ax.ax-FruitCarton:before{content:"\f158"}
.ax.ax-GardenCenter:before{content:"\f159"}
.ax.ax-Gear:before{content:"\f15a"}
.ax.ax-GetCare:before{content:"\f15b"}
.ax.ax-GetCareFill:before{content:"\f15c"}
.ax.ax-Gift:before{content:"\f15d"}
.ax.ax-GiftFill:before{content:"\f15e"}
.ax.ax-Globe:before{content:"\f15f"}
.ax.ax-GraduationCap:before{content:"\f160"}
.ax.ax-Grid:before{content:"\f161"}
.ax.ax-GridFill:before{content:"\f162"}
.ax.ax-GridMasonry:before{content:"\f163"}
.ax.ax-Heart:before{content:"\f164"}
.ax.ax-HeartFill:before{content:"\f165"}
.ax.ax-Hide:before{content:"\f166"}
.ax.ax-History:before{content:"\f167"}
.ax.ax-Home:before{content:"\f168"}
.ax.ax-IdCard:before{content:"\f169"}
.ax.ax-Image:before{content:"\f16a"}
.ax.ax-Inbox:before{content:"\f16b"}
.ax.ax-InboxFill:before{content:"\f16c"}
.ax.ax-Incognito:before{content:"\f16d"}
.ax.ax-InfoCircle:before{content:"\f16e"}
.ax.ax-InfoCircleFill:before{content:"\f16f"}
.ax.ax-Keyboard:before{content:"\f170"}
.ax.ax-Link:before{content:"\f171"}
.ax.ax-LinkExternal:before{content:"\f172"}
.ax.ax-List:before{content:"\f173"}
.ax.ax-Location:before{content:"\f174"}
.ax.ax-LocationPlus:before{content:"\f175"}
.ax.ax-Lock:before{content:"\f176"}
.ax.ax-LockOpen:before{content:"\f177"}
.ax.ax-Loop:before{content:"\f178"}
.ax.ax-Magic:before{content:"\f179"}
.ax.ax-MagicFill:before{content:"\f17a"}
.ax.ax-Map:before{content:"\f17b"}
.ax.ax-MapFill:before{content:"\f17c"}
.ax.ax-Maximize:before{content:"\f17d"}
.ax.ax-Medal:before{content:"\f17e"}
.ax.ax-Medication:before{content:"\f17f"}
.ax.ax-Menu:before{content:"\f180"}
.ax.ax-Microphone:before{content:"\f181"}
.ax.ax-MicrophoneSlash:before{content:"\f182"}
.ax.ax-Minimize:before{content:"\f183"}
.ax.ax-Minus:before{content:"\f184"}
.ax.ax-Mobile:before{content:"\f185"}
.ax.ax-MoneyStack:before{content:"\f186"}
.ax.ax-More:before{content:"\f187"}
.ax.ax-MoreAlt:before{content:"\f188"}
.ax.ax-MultiDepth:before{content:"\f189"}
.ax.ax-Note:before{content:"\f18a"}
.ax.ax-Notebook:before{content:"\f18c"}
.ax.ax-NoteFill:before{content:"\f18b"}
.ax.ax-Outdoor:before{content:"\f18d"}
.ax.ax-Pallet:before{content:"\f18e"}
.ax.ax-PalletDispense:before{content:"\f18f"}
.ax.ax-PalletPick:before{content:"\f190"}
.ax.ax-PalletStage:before{content:"\f191"}
.ax.ax-PanelBottom:before{content:"\f192"}
.ax.ax-PanelBottomFill:before{content:"\f193"}
.ax.ax-PanelLeft:before{content:"\f194"}
.ax.ax-PanelLeftFill:before{content:"\f195"}
.ax.ax-PanelRight:before{content:"\f196"}
.ax.ax-PanelRightFill:before{content:"\f197"}
.ax.ax-PanelVerticalHalf:before{content:"\f198"}
.ax.ax-Paperclip:before{content:"\f199"}
.ax.ax-Pause:before{content:"\f19a"}
.ax.ax-PaymentCalendarMoney:before{content:"\f19b"}
.ax.ax-Pencil:before{content:"\f19c"}
.ax.ax-Pet:before{content:"\f19d"}
.ax.ax-Pharmacy:before{content:"\f19e"}
.ax.ax-Phone:before{content:"\f19f"}
.ax.ax-Pin:before{content:"\f1a0"}
.ax.ax-PinFill:before{content:"\f1a1"}
.ax.ax-PinSlash:before{content:"\f1a2"}
.ax.ax-Play:before{content:"\f1a3"}
.ax.ax-PlayFill:before{content:"\f1a4"}
.ax.ax-Plus:before{content:"\f1a5"}
.ax.ax-PositionRight:before{content:"\f1a6"}
.ax.ax-PositionTopRight:before{content:"\f1a7"}
.ax.ax-Presentation:before{content:"\f1a8"}
.ax.ax-Printer:before{content:"\f1a9"}
.ax.ax-Profile:before{content:"\f1aa"}
.ax.ax-QrCode:before{content:"\f1ab"}
.ax.ax-QuestionCircle:before{content:"\f1ac"}
.ax.ax-Receipt:before{content:"\f1ad"}
.ax.ax-Refresh:before{content:"\f1ae"}
.ax.ax-ResetTag:before{content:"\f1af"}
.ax.ax-RestBreak:before{content:"\f1b0"}
.ax.ax-Returns:before{content:"\f1b1"}
.ax.ax-Rotate360:before{content:"\f1b2"}
.ax.ax-RowAdd:before{content:"\f1b3"}
.ax.ax-Sandwich:before{content:"\f1b4"}
.ax.ax-Search:before{content:"\f1b5"}
.ax.ax-Service:before{content:"\f1b6"}
.ax.ax-ServiceFill:before{content:"\f1b7"}
.ax.ax-Services:before{content:"\f1b8"}
.ax.ax-ServicesFill:before{content:"\f1b9"}
.ax.ax-SgHome:before{content:"\f1ba"}
.ax.ax-Share:before{content:"\f1bb"}
.ax.ax-ShareAndroid:before{content:"\f1bc"}
.ax.ax-ShareAndroidFill:before{content:"\f1bd"}
.ax.ax-Shirt:before{content:"\f1be"}
.ax.ax-Show:before{content:"\f1bf"}
.ax.ax-Shuffle:before{content:"\f1c0"}
.ax.ax-SidePanel:before{content:"\f1c1"}
.ax.ax-SignIn:before{content:"\f1c2"}
.ax.ax-SignOut:before{content:"\f1c3"}
.ax.ax-Sliders:before{content:"\f1c4"}
.ax.ax-Slot:before{content:"\f1c5"}
.ax.ax-SortAscending:before{content:"\f1c6"}
.ax.ax-SortDescending:before{content:"\f1c7"}
.ax.ax-Speaker:before{content:"\f1c8"}
.ax.ax-SpeakerSlash:before{content:"\f1c9"}
.ax.ax-Star:before{content:"\f1ca"}
.ax.ax-StarFill:before{content:"\f1cb"}
.ax.ax-StarHalf:before{content:"\f1cc"}
.ax.ax-StopFill:before{content:"\f1cd"}
.ax.ax-StoreLocation:before{content:"\f1ce"}
.ax.ax-StoreMap:before{content:"\f1cf"}
.ax.ax-SwapShift:before{content:"\f1d0"}
.ax.ax-Table:before{content:"\f1d1"}
.ax.ax-Tag:before{content:"\f1d2"}
.ax.ax-TagFill:before{content:"\f1d3"}
.ax.ax-Targeting:before{content:"\f1d4"}
.ax.ax-Temperature:before{content:"\f1d5"}
.ax.ax-Terminal:before{content:"\f1d6"}
.ax.ax-ThumbDown:before{content:"\f1d7"}
.ax.ax-ThumbDownFill:before{content:"\f1d8"}
.ax.ax-ThumbUp:before{content:"\f1d9"}
.ax.ax-ThumbUpFill:before{content:"\f1da"}
.ax.ax-Trash:before{content:"\f1db"}
.ax.ax-Truck:before{content:"\f1dc"}
.ax.ax-Undo:before{content:"\f1dd"}
.ax.ax-User:before{content:"\f1de"}
.ax.ax-UserCircle:before{content:"\f1df"}
.ax.ax-UserCircleFill:before{content:"\f1e0"}
.ax.ax-UserPlus:before{content:"\f1e1"}
.ax.ax-Users:before{content:"\f1e3"}
.ax.ax-UserSearch:before{content:"\f1e2"}
.ax.ax-UsersPair:before{content:"\f1e4"}
.ax.ax-Utensil:before{content:"\f1e5"}
.ax.ax-UtensilsFill:before{content:"\f1e6"}
.ax.ax-VerifiedShieldFill:before{content:"\f1e7"}
.ax.ax-Video:before{content:"\f1e8"}
.ax.ax-VoiceSearch:before{content:"\f1e9"}
.ax.ax-Wallet:before{content:"\f1ea"}
.ax.ax-Warning:before{content:"\f1eb"}
.ax.ax-WarningFill:before{content:"\f1ec"}
.ax.ax-Wifi:before{content:"\f1ed"}
.ax.ax-WifiSlash:before{content:"\f1ee"}
.ax.ax-Wrench:before{content:"\f1ef"}
.ax.ax-Write:before{content:"\f1f0"}
.ax.ax-ZoomIn:before{content:"\f1f1"}
.ax.ax-ZoomOut:before{content:"\f1f2"}
